@media (min-width:1024px) and (max-width:1249px) {
 
    .leftTbs_btnsOut {
        padding: 0;
        width: 10px
    }
    .feedBack_mattersInnr strong {
        padding-right: 20px
    }
    .feedBack_mattersInnr h2 {
        font-size: 26px;
        padding-right: 16px
    }
    .solutionLog_pic {
        width: 615px
    }
    .modren_productsInn ul li p {
        font-size: 14px
    }
    .footerCopRights p {
        font-size: 10px
    }
    .shopingCart_items_taxTotal_innr ul li strong,
    .shopingCart_items_taxTotal_right p,
    .shopingCrt_lsting_itemName strong,
    .shopingCrt_lsting_itemPrice p,
    .shopingCrt_lsting_itemSubTotal strong {
        font-size: 14px;
        line-height: 20px
    }
    .shopingCrt_lsting_itemName small {
        font-size: 11px
    }
    .shopingCart_itemsTitle strong {
        font-size: 12px
    }
    .shopingCart_itemsCell {
        padding: 0 8px
    }
    .cardPayments_box_eftPayment ul li span,
    .cardPayments_box_eftPayment ul li strong {
        padding-left: 10px;
        padding-right: 10px
    }
    .accessories_banerPic_main {
        width: 423px;
        left: 504px;
        top: 70px
    }
    .lm_headerMain .menu {
        text-align: center;
        width: 80%
    }
    .lm_hdrUpgrade_nowBtn {
        padding-left: 10px!important;
        padding-right: 10px!important
    }
    .lm_headerMain .headerRight {
        padding-top: 0;
        margin-top: -10px
    }
    .lm_headerMain .menu ul li {
        display: inline-block;
        float: none;
        padding-left: 0;
        margin-left: 0
    }
    .lm_headerMain .headerSignInUp {
        width: 20%
    }
    .limtLess_pontentiolsPic {
        max-width: 570px;
        margin: auto
    }
    .limtLess_aboutOut {
        padding: 0
    }
    .leftWhole_greenBorder {
        left: 30px!important
    }
    .limtLess_aboutGreenBox_out {
        padding: 20px
    }
    .banifits_inventoriesOut {
        padding-left: 0
    }
    .banifits_contOut {
        padding: 100px 0
    }
    .industries_contInnr {
        padding-left: 0
    }
    .industries_usedRight {
        width: 42%
    }
    .industries_usedLft {
        padding: 20px 30px 20px 0;
        width: 58%;
        margin-top: 0
    }
    .industries_usedPic_type {
        top: 20px;
        left: -110px
    }
    .industries_usedPic_typeIcon {
        max-width: 110px;
        padding: 10px
    }
    .industries_usedLftInnnr em {
        font-size: 18px;
        line-height: 22px;
        padding-bottom: 20px
    }
    .industries_usedLftInnnr p,
    .industries_usedLftInnnr ul li a {
        font-size: 14px;
        line-height: 22px
    }
    .industries_usedLftInnnr p {
        padding-bottom: 14px
    }
    .industries_usedLftInnnr ul li {
        margin-bottom: 0
    }
    .industries_sliderOut:after {
        height: 100%!important;
        top: 0
    }
    .lm_featurs_fiveHdngTxt {
        padding-left: 0
    }
    .lmFeatures_tabs_showBox {
        width: 48%;
        display: inline-block;
        float: none;
        vertical-align: top
    }
    .lm_transctDevicePics ul li {
        padding: 0 20px 10px;
        max-width:340px
    }
    .lmFeatures_tabs_tile ul li a {
        font-size: 15px
    }
    .lm_hardwares_grayBox_auto {
        padding: 30px 20px
    }
    .lm_hardwares_boxLeft .all_about_mainHdng {
        margin-left: 0
    }
    .lm_hardwares_boxRight h3 {
        margin-left: -60px
    }
    .lm_hardwares_boxLeftImg span {
        height: 160px
    }
    .lm_hardwares_boxLeftImg img {
        max-width: 230px;
        max-height: 160px
    }
    .lm_hardwares_grayBox_out {
        padding: 0 15px
    }
    .lm_frontOffrsCont_innr {
        padding-left: 0
    }
    .lm_frontOffrs_banerPic {
        margin-top: 0
    }
    .lm_frontOffrs_contTxt {
        padding: 0 20px
    }
	
	
.menu ul li{ padding-right:25px; }	
.headerRight_btns ul li{ padding-left:15px; }
.headerApplyNow{ padding:10px 20px; }
.hmPro_tabsTitle_inner p{ font-size:13px; }	
.retailStore_data{ max-width:568px; }
.sliderAds_run2nd .sliderAds_left{ padding-left:20px; }
	
	
	
	
	
	
	
	
}

@media (min-width:768px) and (max-width:1023px) {
	.menu{ width:62%; }
    .menu ul li a {
        font-size:13px; 
    }
    .menu ul li {
       padding-right:14px; 
    }
	
	.headerRight_btns{ width:38%; }
  .headerRight_btns ul li{ padding-left:10px; }
   .headerApplyNow{ font-size:12px; padding:10px 12px; }
   .headerRegister{ font-size:13px; }
    .leftTbs_btnsOut {
        padding: 0;
        width: 10px
    }
    .banerContent_innr,
    .perFect_solution_innr {
        padding-left: 20px
    }
    .solutionLog_pic {
        width: 536px;
        left: 270px
    }
    .banerContent_solution {
        padding-right: 116px
    }
    .perFect_solution_accepts ul li {
        padding-left: 0
    }
    .modrenClean_innr {
        padding-left: 20px;
        padding-bottom: 20px
    }
    .modren_productsCenter_pic {
        left: 29%;
        padding: 0 20px;
        top: 0;
        width: 42%
    }
    .modren_productsInn ul li {
        width: 30%;
        margin-right: 16%;
        padding-bottom: 20px;
        min-height: 146px
    }
    .modren_productsInn ul li:nth-child(2n) {
        margin-left: 14%
    }
    .pricingContentInn {
        padding-left: 20px
    }
    .pricingGettoday_left {
        width: 100%;
        float: none;
        padding: 0 0 50px
    }
    .pricingGettoday_right {
        width: 100%;
        padding: 0
    }
 
    .footerUp,
    .footerbtm {
        padding-left: 0
    }
    .pricingContentInnOut {
        padding: 60px 0
    }
    .perFect_solution_accepts {
        background-size: 100% auto;
        margin: auto auto 50px;
        min-height: 186px;
        width: 670px
    }
    .perFect_solution_accepts ul li.selinIlstration_1 b {
        background-size: 100% auto;
        height: 145px;
        position: absolute;
        right: 0;
        top: 23px;
        width: 110px
    }
    .perFect_solution_accepts ul li.selinIlstration_2 b {
        background-size: 100% auto;
        height: 128px;
        position: absolute;
        right: 0;
        top: 20px;
        width: 82px
    }
    .perFect_solution_accepts ul li.selinIlstration_3 b {
        background-size: 100% auto;
        height: 145px;
        position: absolute;
        right: 76px;
        top: 20px;
        width: 110px
    }
    .prfctSolutionUp_new_inn {
        padding-left: 20px
    }
    .banerContent_solution h1 {
        font-size: 40px
    }
    .banerContent_solution h4 {
        font-size: 28px;
        line-height: 34px
    }
    .banerPayment_logosOut ul li {
        padding-left: 16px
    }
    .banerPayment_logosOut ul li a {
        width: 50px
    }
    .banerPayment_logosOut ul li a.banerPayment_logo2 {
        width: 110px
    }
    .banerPayment_logosOut ul li a.banerPayment_logo3 {
        width: 60px
    }
    .banerPayment_logosOut ul li a.banerPayment_logo4 {
        width: 100px
    }
    .prfctSolutionUp_new_out {
        padding: 60px 0
    }
    .modren_productsInn ul li p {
        font-size: 14px;
        line-height: 20px
    }
 
    .pricingGettoday_box ul li {
        padding-bottom: 5px
    }
    .pricingGettoday_box ul li span {
        line-height: 18px
    }
    .pricingGettoday_box ul {
        min-height: 190px;
        padding-bottom: 20px
    }
    .solutionLog_pic {
        top: 50px!important
    }
    #image-reel {
        width: 100%!important;
        height: auto!important
    }
    .sliderAds_learnUpdates_btn {
        min-width: 150px
    }
    .headerSignInUp {
        max-width: 230px
    }
    .shopingCart_itemsCell.itemCell1 {
        width: 14%
    }
    .shopingCart_items_taxTotal_innr ul li strong,
    .shopingCart_items_taxTotal_right p,
    .shopingCrt_lsting_itemName strong,
    .shopingCrt_lsting_itemPrice p,
    .shopingCrt_lsting_itemSubTotal strong {
        font-size: 14px;
        line-height: 20px
    }
    .shopingCrt_lsting_itemName small {
        font-size: 11px
    }
    .shopingCart_itemsTitle strong {
        font-size: 12px
    }
    .shopingCart_itemsCell {
        padding: 0 8px
    }
    .shopingCart_top_stepsOut {
        width: 100%;
        padding: 20px 0
    }
    .shopingCart_top_stepsInn ul li {
        padding-right: 6px
    }
    .shopingCart_step_box {
        padding-left: 0
    }
    .shopingCart_step_icon {
        position: static;
        margin: auto;
        width: 50px;
        height: 50px
    }
    .payMethod_box_left,
    .payMethod_box_right {
        width: 100%;
        float: none
    }
    .shopingCart_step_box strong small {
        font-size: 10px;
        padding-bottom: 3px
    }
    .shopingCart_step_box strong {
        font-size: 14px;
        text-align: center
    }
    .payMethod_box_left {
        margin-bottom: 30px
    }
    .accessories_pktPos_ecomListings_out ul li {
        width: 50%
    }
    .accessories_banerLft_txt h1 {
        font-size: 40px;
        line-height: 40px
    }
    .accessories_banerPic_main {
        width: 323px;
        left: 404px;
        top: 70px
    }
    .proInfo_slctedProduct_left {
        width: 100%;
        float: none;
        padding: 0 0 50px;
        max-width: 500px;
        margin: auto;
        border: 0
    }
    .proInfo_slctedProduct_right {
        width: 100%;
        float: none;
        padding: 0;
        max-width: none
    }
    .lm_headerMain .menu {
        text-align: center;
        width: 80%
    }
    .lm_hdrUpgrade_nowBtn {
        padding-left: 5px!important;
        padding-right: 5px!important
    }
    .lm_headerMain .headerRight {
        padding-top: 0;
        margin-top: -10px
    }
    .lm_headerMain .menu ul li {
        display: inline-block;
        float: none;
        padding-left: 0
    }
    .lm_headerMain .headerSignInUp {
        width: 20%
    }
    .limtLess_pontentiolsPic {
        max-width: 570px;
        margin: auto
    }
    .limtLess_aboutOut {
        padding: 0
    }
    .leftWhole_greenBorder {
        left: 30px!important
    }
    .limtLess_aboutGreenBox_out {
        padding: 20px
    }
    .limtLess_aboutGreenBox_inn p {
        padding-bottom: 15px;
        line-height: 22px
    }
    .limtLess_aboutGreenBox_inn p em {
        font-size: 18px;
        line-height: 22px
    }
    .banifits_inventoriesOut {
        padding-left: 0
    }
    .banifits_contOut {
        padding: 100px 0
    }
    .industries_contInnr {
        padding-left: 0
    }
    .industries_usedRight {
        width: 42%
    }
    .industries_usedLft {
        padding: 20px 30px 20px 0;
        width: 58%;
        margin-top: 0
    }
    .industries_usedPic_type {
        top: 20px;
        left: -110px
    }
    .industries_usedPic_typeIcon {
        max-width: 110px;
        padding: 10px
    }
    .industries_usedLftInnnr em {
        font-size: 18px;
        line-height: 22px;
        padding-bottom: 20px
    }
    .industries_usedLftInnnr p,
    .industries_usedLftInnnr ul li a {
        font-size: 14px;
        line-height: 22px
    }
    .industries_usedLftInnnr p {
        padding-bottom: 14px
    }
    .industries_usedLftInnnr ul li {
        margin-bottom: 0
    }
    .industries_sliderOut:after {
        height: 100%!important;
        top: 0
    }
    .lm_featurs_fiveHdngTxt {
        padding-left: 0
    }
    .lmFeatures_tabs_showBox {
        width: 48%;
        display: inline-block;
        float: none;
        vertical-align: top
    }
    .lm_transctDevicePics ul li {
        padding: 0 20px 10px;
        
    }
    .lmFeatures_tabs_tile ul li a {
        font-size: 15px
    }
    .lm_hardwares_grayBox_auto {
        padding: 30px 20px
    }
    .lm_hardwares_boxLeft .all_about_mainHdng {
        margin-left: 0
    }
    .lm_hardwares_boxRight h3 {
        margin-left: -60px
    }
    .lm_hardwares_boxLeftImg span {
        height: 160px
    }
    .lm_hardwares_boxLeftImg img {
        max-width: 230px;
        max-height: 160px
    }
    .lm_hardwares_grayBox_out {
        padding: 0 15px
    }
    .lm_frontOffrsCont_innr {
        padding-left: 0
    }
    .lm_frontOffrs_banerPic {
        margin-top: 0
    }
    .lm_frontOffrs_contTxt {
        padding: 0 20px
    }
    .pricingGettoday_left p {
        max-width: none
    }
    .pricingGettoday_left h2 br {
        display: none
    }
    .limtLess_aboutGreenBox_out {
        max-width: 350px;
        margin-left: -175px
    }
	

.navText p{ font-size:13px; }
.hmBaner_image{ max-width:660px; margin:auto; }
.hmBaner{ background-size: 960px auto; }

.lm_transctDevice_payLogos ul li a{ height:46px; }
.lm_transctDevice_payLogos ul li a.lm_transctDevice_payLogos_logo2{ width:110px; }
.lm_transctDevice_payLogos ul li a.lm_transctDevice_payLogos_logo1{ width:34px; }
.lm_transctDevice_payLogos ul li a.lm_transctDevice_payLogos_logo3{ width:55px; }

.sliderAds_run2nd .sliderAds_left{ padding-left:20px; }


.mob_retailStore_image{ display:none; max-width:400px; margin:auto; }
.web_retailStore_image{ display:block; }	

.retailStore_data{ width:100%; padding:0px; margin:0px; float:right; max-width:400px;  }	
.retailStore_pos{  padding:20px 15px 30px 15px; }
	
.retailStore_dataRight{  max-width:400px; width:100%;  text-align:right;  }	
.retailStore_circleImage{ position:static;  margin:auto; margin-bottom:10px; float:none; width:90px; height:90px;  }
.retailStore_dataRight h2{ font-size:18px; line-height:26px; padding-bottom:10px;  }
.retailStore_sliderrun .bx-controls{ bottom:15px; }

.retailStore_circleImage span img{ max-width:40px; max-height:40px; } 
.retailStore_dataRight ul li a{ line-height:16px; }

.ppSupport_cont{ max-width:430px; }
.ppSupport_cont ul li{ padding-bottom:10px; }
.feedBack_mattersOut{ padding:30px 0px; }

.feedBack_mattersInnr strong, .feedBack_mattersInnr h2{ padding-right:15px; }
.feedBack_sendBtn{ min-width:175px; }
.footerMenu ul li{ padding-right:15px; padding-bottom:10px; }
.footerNav{ padding-bottom:60px; }


.proBaner_pic3{ width:400px; }
.proBaner_pic4 {  width:360px; top:100px; left:210px; }
.proBaner_pic2 { width:328px; top:252px; left:400px; }
.proBaner_pic1 { width:340px; top:258px; left:130px; }

.proBanerInner{ max-width:768px; margin:auto; height:590px;}
.products_menuInner ul li{ padding:0px 20px; }
.native_pos{ padding:30px 50px 30px 60px; width: 730px; height: 460px; }

.nativeMain{ height:550px; }
.modren_productsInn{ padding-top:0px; }
.storeExperience .sliderAds_right span{ max-width:270px; }
.feedBack_mattersInnr { text-align:center; }
.feedBack_mattersInnr strong, .feedBack_mattersInnr h2{ display:block; text-align:center; }
.feedBack_sendBtn{ float:none; margin:auto; margin-top:10px;  }











.pricingChanges .pricingGettoday_right ul li { padding: 0px 5px;}

.pricingChanges .pricingLb_device h1 { font-size: 32px;padding-top: 0px;}

.pricingChanges .pricingLb_device h1 small { font-size: 16px; line-height: 12px; }

.pricingChanges .pricingGettoday_hdr p { font-size: 14px; }

.litePackege_setting h2 {  padding: 15px 0px; font-size: 36px;}

.pricingGettoday_boxCont { padding: 20px 15px 20px;  }

.pemium_setting h2 small { line-height: 6px; }

.pemium_setting h2 {  padding: 6px 0px 18px; }







}



@media(max-width:767px) {
    #wrapper,
    .header_main,
    .headerRight {
        transition: all 0.4s ease;
-moz-transition: all 0.4s ease;
-ms-transition: all 0.4s ease;
-o-transition: all 0.4s ease;
-webkit-transition: all 0.4s ease; 
    }
    body {
        -webkit-text-size-adjust: none
    }
    .autoContent {
        width: 100%;
        max-width: none;
        padding: 0 15px
    }
	
	.logo { position:static; float:left; }
	
    .logo a {
        max-width: 36px
    }
    .menuIcon,
    .menu_clos {
        display: block
    }
    .headerRight.open_menu {
        right: 0
    }
    .headerRight {
        background: #3e4651;
        float: none;
        height: 100%;
        left: inherit;
        overflow-y: auto;
        padding: 60px 0 20px;
        position: fixed;
        right: -260px;
        top: 0;
        width: 260px!important;
        z-index: 33
    }
    .menu {
        width: 100%;
        float: none; padding-top:0px;
    }
    .headerSignInUp ul,
    .menu ul {
        float: none
    }
    .headerSignInUp ul li,
    .menu ul li {
        width: 100%; padding-right:0px;
        float: none;
        margin: 0;
        border-bottom: 1px solid #ccc
    }
    .headerSignInUp ul li:last-child {
        border-bottom: 0 none
    }
    .headerSignInUp {
        width: 100%;
        float: none;
        max-width: none
    }
    .headerSignInUp ul li a,
    .menu ul li a {
        border-radius: 0;
        padding:8px 15px ; text-align:center; font-size:14px;
     
        height: auto;
        color: #fff
    }
    .menu ul li a::after,
    .menu ul li:hover a:after {
        display: none
    }
    .headerOut.fixed .headerSignInUp ul li a,
    .headerOut.fixed .menu ul li a {
        color: #fff
    }
    .headerSignInUp ul li.active a,
    .headerSignInUp ul li:hover a,
    .menu ul li.active a,
    .menu ul li:hover a {
        background: #80c342;
        color: #fff
    }
    .headerSignInUp ul li.active a,
    .headerSignInUp ul li:hover a {
        border-color: transparent;
        border-radius: 0
    }
    .headerOut {
        position: fixed;
        left: 0;
        top: 0;
        background-color: #fff;
        box-shadow: 0 3px 1px 0 rgba(0, 0, 0, .07)
    }
    .headerOut .posNormal_logo {
        display: none!important
    }
    .headerOut .posSticky_logo {
        display: block!important
    }
    .perFect_solution_title h2 br,
    .shopingCart_itemsTitle,
    .solutionLog_pic {
        display: none
    }
    .headerOut.fixed .menuIcon {
        margin-top: 0
    }
    .opne_mobile_menu #wrapper,
    .opne_mobile_menu .header_main {
        margin-left: -260px
    }
    .banerContent_innr {
        width: 100%;
        padding-left: 10px;
        padding-bottom: 30px;
        overflow: inherit
    }
    .banerContent_solution {
        padding: 15px 0 0
    }
    .banerContent_solution h2 {
        font-size: 24px;
        line-height: 30px;
        padding-bottom: 15px
    }
    .banerContent_solution p {
        font-size: 16px;
        line-height: 20px
    }
    .banerContent_solution h3 {
        font-size: 22px;
        line-height: 24px;
        padding-bottom: 15px
    }
    .banerAcceptAll_btn {
        font-size: 14px
    }
    .banerPayment_logosOut ul li {
        padding-left: 10px;
        padding-bottom: 10px
    }
    .banerPayment_logosOut ul li a {
        width: 30px;
        height: 30px
    }
    .banerPayment_logosOut ul li a.banerPayment_logo2 {
        width: 80px
    }
    .banerPayment_logosOut ul li a.banerPayment_logo3 {
        width: 34px
    }
    .banerPayment_logosOut ul li a.banerPayment_logo4 {
        width: 76px
    }
    .header_baner {
        padding-top: 30px;
        margin-top: 90px
    }
    .leftTbs_btnsOut {
        padding: 0;
        width: 10px;
        left: -10px
    }
    .perFect_solution_innr {
        padding: 30px 0 30px 10px
    }
    .perFect_solution_title h2 {
        font-size: 24px;
        line-height: 30px
    }
    .perFect_solution_accepts {
        background: 0 0;
        padding: 0 0 30px;
        margin: 0;
        min-height: 0;
        width: 100%
    }
    .perFect_solution_accepts ul li {
        float: none;
        padding: 0 0 110px;
        width: 100%;
        text-align: center!important
    }
    .perFect_solution_accepts ul li.selinIlstration_1 b {
        background-size: 100px auto;
        top: inherit;
        right: 0;
        height: 91px;
        width: 100%
    }
    .perFect_solution_accepts ul li.selinIlstration_2 b {
        background-size: 80px auto;
        top: inherit;
        right: 0;
        height: 91px;
        width: 100%
    }
    .perFect_solution_accepts ul li.selinIlstration_3 b {
        background-size: 90px auto;
        top: inherit;
        right: 0;
        height: 91px;
        width: 100%
    }
    .perFect_solution_posCont h3 {
        font-size: 20px;
        line-height: 26px
    }
    .perFect_solution_posCont ul {
        padding-bottom: 15px
    }
    .perFect_solution_posCont ul li,
    .perFect_solution_posCont ul li:nth-child(2n) {
        width: 100%;
        float: none;
        padding-bottom: 5px
    }
    .modrenClean_innr {
        padding: 30px 0 20px 10px
    }
    .modrenClean_title h2 {
        font-size: 24px;
        line-height: 30px;
        padding-bottom: 10px
    }
    .modren_productsCenter_pic {
        position: static;
        padding: 0 20px 10px;
        width: 100%
    }
    .modren_productsInn {
        padding: 0
    }
    .modren_productsInn ul li,
    .modren_productsInn ul li:nth-child(2n) {
        min-height: 0;
        width: 100%;
        float: none;
        padding: 0 0 10px 40px;
        margin: 0
    }
    .modren_productsInn ul li p,
    .modren_productsInn ul li strong {
        font-size: 14px
    }
    .pricingContentInnOut {
        padding: 40px 0
    }
    .pricingContentInn {
        padding-left: 10px
    }
    .pricingGettoday_left {
        width: 100%;
        float: none;
        padding: 0 0 30px
    }
    .pricingGettoday_left h2 {
        font-size: 24px;
        line-height: 30px;
        padding-bottom: 15px
    }
    .pricingGettoday_left p {
        padding-bottom: 20px
    }
    .pricingGettoday_left h3 {
        font-size: 20px
    }
    .pricingGettoday_right {
        width: 100%;
        float: none;
        padding: 0
    }
    .pricingGettoday_box {
        width: 100%;
        float: none;
        margin-bottom: 20px
    }
    .pricingGettoday_boxCont {
        padding: 15px
    }
    .pricingGettoday_box.active {
        transform: scale(1, 1)
    }
    .pricingGettoday_box h2 {
        font-size: 24px;
        line-height: 30px;
        padding-bottom: 10px
    }
    .pricingGettoday_box:last-child {
        margin-bottom: 0
    }
    .feedBack_mattersOut {
        padding: 30px 0
    }
    .feedBack_mattersInnr {
        padding-left: 0
    }
    .feedBack_mattersInnr h2 {
        font-size: 24px;
        line-height: 30px;
        padding-bottom: 10px;
        padding-right: 0
    }
    .feedBack_mattersInnr strong {
        padding: 0 0 15px;
        line-height: 20px;
        font-size: 14px
    }
    .footerUp {
        padding: 0 0 20px;
        margin-bottom: 20px
    }
    .footerUpHding {
        font-size: 24px;
        line-height: 30px;
        padding-bottom: 30px
    }
    .footerContacts {
        width: 100%;
        float: none;
        padding: 0 0 20px
    }
    .footerPlayStors_out {
        width: 100%;
        float: none
    }
    .footer_chatIcon,
    .footer_chatIcon_out {
        width: 40px;
        height: 40px
    }
    .footer_chatIcon_out {
        margin-bottom: 30px
    }
    .footerPlayStors_btnsOut ul li a {
        width: 90px
    }
    .footerbtm {
        padding-left: 0
    }
    .footerDfrntly_out h2 {
        font-size: 18px;
        line-height: 24px;
        padding-bottom: 15px
    }
    .footerCopRights,
    .footerLogo {
        width: 100%;
        float: none;
        text-align: left
    }
    .accessories_banerLft_txt,
    .limtLess_products_typsOut ul,
    .shopingCart_itemsCell,
    .shopingCrt_lsting_itemName {
        text-align: center
    }
    .footerOut {
        padding: 30px 0px 0px 0px;
    }
    .pos_signUp_wlcomeLogo {
        max-width: 90px;
        padding-bottom: 30px
    }
    .pos_signUp_wlcomeCont {
        padding: 30px 15px
    }
    .posSignIn_tabsOut ul li a {
        font-size: 14px
    }
    .posSignIn_tabsOut {
        padding-bottom: 20px
    }
    .posSignInn_title h2 {
        font-size: 24px;
        line-height: 30px
    }
    .posSignInn_title strong {
        font-size: 14px
    }
    .pos_signUp_Rowfield input {
        font-size: 14px;
        padding-left: 36px
    }
    .pos_signUp_fieldsMain_out {
        margin-bottom: 20px;
        min-height: 0
    }
    .posSignInn_title h3 {
        font-size: 18px;
        line-height: 22px
    }
    .posSignInn_title h1 {
        font-size: 20px;
        line-height: 24px
    }
    .posSplash_logo {
        padding: 30px 0 60px;
        max-width: 100px
    }
    .posSplashSeDfrnt h2 {
        padding-bottom: 50px;
        font-size: 18px;
        line-height: 24px
    }
    .perFect_saleBuy_banerInnr {
        height: 250px
    }
    .perFect_saleBuy_banerInnr span {
        height: 550px
    }
    .prfctSolutionUp_new_inn {
        padding-left: 0
    }
    .prfctSolutionUp_downloads ul li a {
        width: 100px;
        height: 36px
    }
    .prfctSolutionUp_downloads h2 {
        font-size: 22px
    }
    .prfctSolutionUp_new_out {
        padding: 50px 0 30px
    }
    .prfctSolutionUp_mobBus h2 {
        font-size: 24px;
        line-height: 30px;
        padding-bottom: 20px
    }
    .prfctSolutionUp_downloads p,
    .prfctSolutionUp_mobBus p {
        font-size: 14px;
        line-height: 20px
    }
    .prfctSolutionUp_mobBus p {
        padding-bottom: 10px
    }
    .prfctSolutionUp_mobBus {
        padding-bottom: 20px;
        margin-bottom: 30px
    }
    .banerContent_solution h1 {
        font-size: 36px;
        line-height: 40px;
        padding-bottom: 20px
    }
    .banerContent_solution h4 {
        font-size: 26px;
        line-height: 30px;
        padding-bottom: 30px
    }
    .sliderAds_innr {
        min-height: 0;
        padding: 30px 0
    }
    .sliderAds_learnUpdates_btnsOut ul li,
    .sliderAds_locIocn {
        padding-bottom: 10px
    }
    #image-reel {
        width: 100%!important;
        height: auto!important
    }
    .prfctSolutionUp_mobBus_phoneNew h3 {
        font-size: 28px;
        line-height: 32px
    }
    .modrenClean_title h3 {
        font-size: 18px;
        line-height: 22px
    }
    .sliderAds_left,
    .sliderAds_right {
        float: none!important;
        width: 100%
    }
    .sliderAds_textHdngs h3 {
        font-size: 14px; line-height:22px; 
    }
	.sliderAds_textHdngs h3  br{ display:none; }
    .sliderAds_textHdngs h1 {
        font-size: 32px;
        line-height: 34px;
       padding-bottom:15px; 
    }
    .sliderAds_textHdngs p {
        font-size: 14px;
        line-height: 20px
    }
    .sliderAds_left {
        padding-bottom: 30px
    }
 
    .footerPlayStors_btnsOut {
        padding-top: 0
    }
    .shopingCart_top_stepsOut {
        width: 100%;
        padding: 20px 0
    }
    .shopingCart_top_stepsInn ul li {
        padding-right: 6px
    }
    .shopingCart_step_box {
        padding-left: 0
    }
    .shopingCart_step_icon {
        position: static;
        margin: auto;
        width: 50px;
        height: 50px
    }
    .shopingCart_step_box strong small {
        font-size: 8px;
        padding-bottom: 3px
    }
    .shopingCart_step_box strong {
        font-size: 12px;
        text-align: center
    }
    .proInfo_specification_hdng {
        font-size: 18px;
        line-height: 24px
    }
    .shopingCart_itemsRow {
        width: 100%;
        display: block
    }
    .shopingCart_itemsCell {
        width: 100%!important;
        display: block;
        padding: 0 0 14px!important
    }
    .shopingCrt_lsting_itemPic {
        margin: auto
    }
    .shopingCart_items_taxTotal_innr ul li strong,
    .shopingCart_items_taxTotal_right p {
        font-size: 13px;
        line-height: 16px
    }
    .shopingCart_items_taxTotal_right h2 {
        font-size: 20px;
        line-height: 22px
    }
    .products_info_white_header .headerOut .headerSignInUp ul li a,
    .products_info_white_header .headerOut .menu ul li a {
        color: #fff
    }
    .hdrAddTo_cartBtn {
        width: 20px!important;
        height: 20px!important;
        position: absolute;
        left: 25px;
        top: 20px;
        transition: all .4s ease-in-out!important;
        display: none!important
    }
    .acessories_header_out .hdrAddTo_cartBtn {
        background: url(../images/headr_cartIcon.png) center center no-repeat!important;
        background-size: 100% auto!important;
        z-index: 222;
        display: none!important
    }
    .products_info_white_header .menuIcon {
        margin-top: 14px!important
    }
    .payMethod_box_left {
        width: 100%;
        float: none;
        margin-bottom: 20px
    }
    .payMethod_box_right {
        width: 100%;
        float: none;
        padding: 0
    }
    .payMethod_proDetail_cel3 strong {
        font-size: 13px
    }
    .payMethod_proDetail_cel2 strong {
        font-size: 13px;
        line-height: 16px
    }
    .payMethod_proDetail_cel2 small {
        font-size: 10px
    }
    .payMethod_proDetail_cel1 p {
        font-size: 13px;
        line-height: 16px;
        padding-right: 24px
    }
    .payMethod_proDetail_cel1 {
        padding-right: 10px;
        width: 44px
    }
    .cardPayments_box_form {
        padding: 0 15px
    }
    .cardPayments_box_form .form_row,
    .dlvryAddress_form .form_row {
        padding-bottom: 0
    }
    .form_cell {
        width: 100%!important;
        float: none;
        padding-bottom: 10px
    }
    .cardPayments_box_form strong,
    .dlvryAddress_form strong {
        padding-bottom: 5px;
        font-size: 13px
    }
    .cardPayments_box_eftPayment {
        padding: 15px
    }
    .cardPayments_box_eftPayment ul li {
        display: block
    }
    .cardPayments_box_eftPayment ul li span,
    .cardPayments_box_eftPayment ul li strong {
        float: none;
        width: 100%;
        line-height: 20px;
        font-size: 14px;
        padding: 0 0 10px 10px;
        border: 0
    }
    .cardPayments_box_field input,
    .cardPayments_box_field span {
        font-size: 13px;
        padding-top: 6px;
        padding-bottom: 6px;
        height: 44px
    }
    .confrmations_alert {
        padding: 8px 14px;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 20px
    }
    .confrmations_ordrThanks h1 {
        font-size: 32px;
        line-height: 36px
    }
    .cnfrm_payShiping_detailBox ul li span,
    .cnfrm_payShiping_detailBox ul li strong,
    .confrmations_ordrThanks p {
        font-size: 14px;
        line-height: 20px
    }
    .confrmations_ordrThanks p {
        padding-bottom: 20px
    }
    .cnfrm_payShiping_detailBox {
        width: 100%;
        float: none;
        padding: 0 0 20px
    }
    .cnfrm_payShiping_detailBoxes_out {
        display: block;
        margin: 0
    }
    .acessories_header_out .headerInnr {
        padding-top: 34px!important
    }
    .acessories_header_out .menuIcon {
        margin-top: 14px!important
    }
    .acessories_header_out .banerContent_innr {
        padding-left: 0
    }
    .accessories_banerLft_txt {
        width: 100%;
        max-width: none;
        padding: 20px 0 0
    }
    .accessories_banerLft_txt h1 {
        font-size: 32px;
        line-height: 36px;
        padding-bottom: 10px
    }
    .accessories_banerLft_txt p {
        font-size: 14px;
        line-height: 20px
    }
    .accessories_banerPic_main {
        position: static;
        width: 100%;
        max-width: 400px;
        margin: auto;
        padding-bottom: 30px
    }
    .accessories_pktPos_out {
        padding: 30px 0
    }
    .modrenClean_title {
        padding-bottom: 30px
    }
    .accessories_pktPos_ecomListings_out ul li {
        width: 100%;
        float: none;
        padding: 0 0 15px;
        margin-bottom: 20px;
        border-bottom: solid 2px #f5f5f5
    }
    .accessories_pktPos_ecomListings_out ul li:last-child {
        padding-bottom: 0;
        margin-bottom: 0;
        border-bottom: 0 none
    }
    .accessories_pktPos_ecomList_pic {
        border-radius: 6px;
        background-color: #fff;
        border: 2px solid #f5f5f5;
        margin-bottom: 10px
    }
    .accessories_pktPos_ecomList_box h3 {
        font-size: 16px;
        line-height: 22px;
        padding-bottom: 10px
    }
    .accessories_pktPos_ecomList_box h4 {
        font-size: 20px;
        line-height: 24px
    }
    .proInfo_content_out {
        padding-top: 0
    }
    .proInfo_slctedProduct_left {
        width: 100%;
        padding: 0 0 30px;
        float: none;
        border: 0
    }
    .slctedProduct_sliderPic_big {
        height: 310px
    }
    .proInfo_slctedProduct_right {
        width: 100%;
        padding: 0;
        float: none
    }
    .slctedProduct_sliderPic_bigOut {
        margin-bottom: 20px
    }
    .slctedProduct_sliderPic_thumbsOut {
        width: 100%;
        float: none;
        padding: 0 40px;
        overflow: hidden
    }
    .slctedProduct_sliderPic_thumbsOut ul li {
        padding: 0 4px
    }
    .slctedProduct_sliderPic_thumb a,
    .slctedProduct_sliderPic_thumb span {
        padding: 5px
    }
    .proInfo_proName_up h1 {
        font-size: 24px;
        line-height: 28px
    }
    .proInfo_proName_up small {
        font-size: 14px;
        line-height: 20px
    }
    .proInfo_proName_up h2 {
        font-size: 30px;
        line-height: 36px;
        padding-bottom: 10px
    }
    .proInfo_proName_up p {
        font-size: 14px;
        line-height: 20px;
        padding-bottom: 10px
    }
    .proInfo_colrQuantity_row {
        width: 100%;
        padding-bottom: 20px;
        display: block
    }
    .proInfo_colrQuantity_left {
        width: 100%;
        display: block
    }
    .proInfo_colrQuantity_colorBoxes ul li a {
        padding: 5px 20px;
        line-height: 20px;
        height: 30px;
        font-size: 11px;
        min-width: 0
    }
    .proInfo_colrQuantity_left strong {
        font-size: 13px;
        line-height: 16px;
        padding-bottom: 6px
    }
    .proInfo_estiDlvry_txt p {
        font-size: 14px;
        line-height: 16px
    }
    .proInfo_slctedProduct_out {
        padding-bottom: 20px
    }
    .proInfo_specification_out ul li {
        padding: 10px 0
    }
    .proInfo_specification_out ul li strong {
        width: 100%;
        float: none;
        padding-bottom: 8px;
        font-size: 14px;
        line-height: 20px
    }
    .proInfo_specification_detail {
        width: 100%;
        float: none
    }
    .proInfo_specification_detail p {
        font-size: 14px;
        line-height: 20px
    }
    .hdrAddTo_cartBtn_forMobile {
        display: block;
        position: fixed;
        right: 25px;
        top: 10px;
        z-index: 26;
        transition: all .4s ease-in-out
    }
    .opne_mobile_menu .hdrAddTo_cartBtn_forMobile {
        right: 285px;
        transition: all .4s ease-in-out
    }
    .lm_headerMain .headerSignInUp,
    .lm_headerMain .menu {
        width: 100%
    }
    .lm_hdrUpgrade_nowBtn {
        margin: 0!important;
        border: 0!important
    }
    .lm_headerMain.header_baner {
        padding-top: 0;
        margin-top: 0
    }
    .lm_headerMain .logo {
        width: auto
    }
    .lm_headerMain .logo a {
        max-width: 42px
    }
    .lm_headerMain .headerOut {
        background: #f7f8f8
    }
    .lm_autoContent {
        padding: 0 15px
    }
    .limtLess_pontentiolsTxt h2 {
        font-size: 24px;
        line-height: 30px
    }
    .limtLess_pontentiolsTxt p {
        font-size: 14px;
        line-height: 22px
    }
    .limtLess_startBtn {
        font-size: 12px;
        padding: 10px 15px
    }
    .limtLess_aboutOut {
        width: 100%;
        padding: 0
    }
    .limtLess_aboutInnr,
    .limtLess_aboutInnrCel {
        width: 100%;
        height: auto;
        display: block
    }
    .limtLess_aboutGreenBox_out {
        width: 100%;
        position: static;
        -ms-transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        padding: 15px
    }
    .limtLess_proType p {
        font-size: 14px;
        line-height: 20px
    }
    .limtLess_products_typsOut ul li {
        padding: 6px 6px 16px;
        height: auto;
        width: auto;
        float: none;
        display: inline-block;
        max-width: 140px;
        vertical-align: top
    }
    .limtLess_products_typsOut ul li:nth-child(2n) {
        float: none
    }
    .all_about_mainHdng {
        font-size: 50px;
        line-height: 55px;
        padding-bottom: 10px;
        margin-bottom: 20px
    }
    .all_about_mainHdng span {
        font-size: 16px;
        line-height: 22px
    }
    .limtLess_aboutGreenBox_inn p {
        font-size: 14px;
        line-height: 22px;
        padding-bottom: 16px
    }
    .limtLess_aboutGreenBox_inn p em {
        font-size: 16px;
        line-height: 22px;
        padding-bottom: 16px
    }
    .banifits_contOut {
        width: 100%;
        padding: 50px 0
    }
    .leftWhole_greenBorder {
        display: none
    }
    .banifits_inventoriesOut {
        padding-left: 0
    }
    .banifits_inventoriesLeft {
        width: 100%;
        float: none;
        padding: 0 0 20px
    }
    .banifits_contInnr {
        padding-top: 20px;
        padding-right: 15px;
        width: 100%
    }
    .banifits_inventoriesRight {
        width: 100%;
        float: none
    }
    .banifits_inventoriesRight ul li {
        width: 100%;
        display: block;
        padding: 0 0 20px
    }
    .banifits_inventoriesRight ul li h2 {
        font-size: 18px;
        line-height: 20px;
        padding-bottom: 10px
    }
    .banifits_inventoriesRight ul li p {
        font-size: 14px;
        line-height: 20px
    }
    .industries_contOut {
        padding: 50px 0
    }
    .industries_contInnr {
        padding: 0
    }
    .industries_usedLft {
        width: 100%;
        float: none;
        padding: 0;
        margin: 0
    }
    .industries_usedRight {
        width: 100%;
        float: none;
        padding-right: 10px;
        padding-left: 80px;
        padding-bottom: 30px
    }
    .industries_usedLftInnnr em {
        font-size: 18px;
        line-height: 24px;
        padding-bottom: 15px
    }
    .industries_usedLftInnnr p,
    .industries_usedLftInnnr ul li a {
        font-size: 14px;
        line-height: 20px
    }
    .industries_sliderOut .bx-wrapper {
        margin-bottom: 0!important
    }
    .industries_usedPic_type {
        top: 20px;
        left: 0
    }
    .industries_usedPic_typeIcon {
        width: 100%;
        max-width: 80px;
        padding: 10px 6px
    }
    .industries_usedPic_typeIcon span {
        height: 50px
    }
    .industries_usedPic_typeIcon span img {
        display: block;
        max-width: 50px;
        max-height: 50px;
        margin: auto
    }
    .lm_featursCont_outer .lm_autoContent {
        padding-top: 30px
    }
    .lm_featursCont_innr {
        padding: 20px 0
    }
    .lm_featurs_fiveHdngTxt {
        padding: 0 0 30px
    }
    .lm_featurs_fiveHdngTxt_left {
        width: 100%;
        float: none;
        padding-bottom: 20px
    }
    .lm_featurs_fiveHdngTxt_right {
        width: 100%;
        float: none
    }
    .lm_featurs_fiveHdngTxt_right p {
        font-size: 14px;
        line-height: 22px
    }
    .lmFeatures_tabs_tile ul li a {
        font-size: 9.5px;
        padding: 8px 5px
    }
    .lmFeatures_tabs_tile {
        margin-bottom: 20px
    }
    .lmFeatures_tabs_showOut {
        padding: 0 15px 15px
    }
    .lmFeatures_tabs_showBox {
        width: 100%;
        float: none;
        padding: 0 0 30px
    }
    .lmFeatures_manage_hdng {
        padding-bottom: 10px
    }
    .lmFeatures_manage_hdng h2 {
        font-size: 16px;
        line-height: 22px
    }
    .lmFeatures_reportingListig p,
    .lmFeatures_reportingListig ul li {
        font-size: 14px;
        padding-bottom: 0;
        line-height: 22px
    }
    .lm_hardwaresCont_out {
        height: auto;
        padding: 50px 0
    }
    .lm_hardwares_grayBox_out {
        position: static;
        padding: 0 15px
    }
    .lm_hardwares_grayBox_auto {
        padding: 20px 15px;
        width: 100%
    }
    .lm_hardwares_boxLeft {
        width: 100%;
        padding: 0 0 30px;
        float: none
    }
    .lm_hardwares_boxLeft .all_about_mainHdng {
        margin-left: 0;
        margin-bottom: 30px
    }
    .lm_hardwares_boxLeftImg span {
        height: 170px
    }
    .lm_hardwares_boxLeftImg img {
        max-width: 270px;
        max-height: 170px
    }
    .lm_hardwares_boxRight h3 {
        font-size: 18px;
        line-height: 22px;
        padding-bottom: 20px;
        margin: 0
    }
    .lm_hardwares_boxRight {
        width: 100%;
        float: none
    }
    .lm_hardwares_boxRight p {
        font-size: 14px;
        line-height: 22px;
        padding-bottom: 14px
    }
    .lm_hardwares_shopNow_btn {
        margin-top: 10px;
        padding: 12px 15px;
        margin-bottom: 10px
    }
    .lm_frontOffrsCont_innr {
        padding: 50px 0
    }
    .lm_frontOffrsCont_ofstr {
        padding: 0
    }
    .lm_frontOffrs_banerPic {
        margin: 0;
        padding-bottom: 20px
    }
    .lm_frontOffrs_mainHdng {
        padding: 0 0 10px
    }
    .lm_frontOffrs_contTxt p {
        font-size: 14px;
        line-height: 22px;
        padding-bottom: 30px
    }
    .lm_frontOffrs_contTxt ul li a {
        width: 120px;
        height: auto
    }
    .lm_trainingSupport_topSpace {
        height: auto
    }
    .lm_trainingSupport_out {
        height: auto;
        padding: 50px 0
    }
    .lm_trainingSupport_posOut {
        position: static;
        padding: 0 15px
    }
    .lm_trainingSupport_greenBox {
        padding: 20px 15px
    }
    .lm_trainingSupport_greenBox p {
        font-size: 14px;
        line-height: 22px;
        padding-bottom: 20px
    }
    .lm_trainingSupport_greenBox h3 a {
        font-size: 16px;
        line-height: 22px
    }
    .lm_transctDevicePics {
        padding-bottom: 30px
    }
    .lm_transctDevicePics ul li {
        padding: 0 10px 10px;
     
    }
    .lm_transctDevice_payLogos ul li {
        padding-left: 10px;
        padding-bottom: 10px
    }
    .lm_transctDevice_payLogos {
        padding-bottom: 0
    }
    .sliderAds_run3rd .sliderAds_right {
        width: 100%;
        float: none
    }
    .sliderAds_run3rd .sliderAds_left {
        padding: 0 0px
    }
    .sliderAds_learnUpdates_btn {
        min-width: 118px; font-size:13px; padding:8px 15px; 
    }
    .pricingGettoday_left p {
        max-width: none
    }
    .limtLess_aboutGreenBox_out {
        max-width: none;
        margin-left: 0
    }
    .cnfrm_exitContinue_btnsOut ul li {
        padding: 0 6px 6px!important
    }
	
	

.header{ position:relative; }
.navText{ display:none; }
.headerInner{ padding-left:20px; }
.headerRight_btns{ width:100%; float:none; padding:8px 15px 70px 15px; }
.headerRight_btns ul{ float:none; text-align:center; }
.headerRight_btns ul li{ float:none; display:inline-block; padding:8px 10px 16px 10px; vertical-align:top;}
.headerRight_btns ul li:last-child{ padding:0px; width:100%; text-align:center; }
.header_callIcon, .header_searchIcon{ margin-top:0px; }
.headerRegister{ padding:0px; line-height:25px; font-size:14px;  }
.headerApplyNow{ font-size:14px; padding:8px 10px; }
.hmBaner{ background-size:550px auto; background-position:center -60px ;  }
.hmBanerInner{ padding:70px 0px 40px 0px; }
.hmBaner_image span{ max-width:400px; margin:auto;  }
.hmBaner_content h2 strong{ font-size:30px; display:block; }
.hmBaner_content h2{ font-size:20px; line-height:26px; }
.hmBaner_content p{ padding-bottom:30px; }
.ApplyNow_mainButton{ font-size:14px; padding:8px 20px; }
.products_inner{ padding:40px 0px; }
.mainHeading{ font-size: 22px; }
.mainHeading::after{ margin-top:8px; }
.productsUp h2{ font-size:20px; line-height:26px;  }
.hmPro_tabsTitle ul li{ width:49%; padding:0px 10px 0px 10px; float:none; display:inline-block; vertical-align:top; margin-bottom:20px;  }
.hmPro_tabTitle_image, .hmPro_tabsShowPic{ padding-bottom:10px; }
.hmPro_tabTitle_image span img{ max-width:65px; max-height:50px; }
.hmPro_tabsTitle_inner h3{ font-size:15px; line-height:22px;}
.hmPro_tabsTitle_inner p{ font-size:13px; line-height:20px;}
.hmPro_tabsTitle_inner{ padding-bottom:15px; }
.hmPro_tabsShow p{ padding-bottom:20px; }
.benefits_inner{ padding:40px 0px; }
.benefits_listing ul li{ width:100%; padding-bottom:30px;  }
.benefits_listing ul{ margin-bottom:30px; }
.benefits_listing ul:last-child li:last-child{ padding-bottom:0px; }
.feature_inner{ padding:40px 0px; }	
.sliderAds_run2nd .sliderAds_left{ padding:0px 15px; }
.pricingLb_device span{ margin-bottom:-15px; }	
.mob_retailStore_image{ display:block; }
.web_retailStore_image{ display:none; }	

.retailStore_data{ max-width:none; width:100%; padding:0px; margin:0px;  float:none;  }	
.retailStore_pos{ position:static; padding:20px 15px 30px 15px; }
	
.retailStore_dataRight{  max-width:none; width:100%; float:none; text-align:center;  }	
.retailStore_circleImage{ position:static;  margin:auto; margin-bottom:15px; float:none; }
.retailStore_dataRight h2{ font-size:18px; line-height:26px; padding-bottom:10px;  }
.retailStore_sliderrun .bx-controls{ bottom:15px; }

.ppSupport_main{ background:none; }
.ppSupport_inner{ padding:40px 0px; }
.feedBack_sendBtn{ float:none; font-size:13px; padding:8px 10px; }

.footerLogo a { max-width:130px; }
.footerContacts ul li strong{ font-size:22px; line-height:26px; background-size:26px; padding-left:40px; }
.footerContacts ul li strong em{ font-size:13px; }

.footer_memberLogo a{ max-width:160px; }
.footerNav{ padding:15px 15px 70px 15px; }

.footerMenu{ float:none; width:100%; padding:0px 0px 15px 0px; }

.footerMenu_authorised{ float:none; width:100%; padding:0px; }

.footerMenu_authorised p{ font-size:12px; line-height:16px; text-align:center; }
.footerMenu_authorised p br{ display:none; }

.footerMenu ul li{ float:none;  padding-right:12px; padding-bottom:6px; display:block;}

.footerMenu ul li a{ display:inline-block; }
.footerInnr{ padding-bottom:15px; }
#lmFeatures_tabs_4 .lmFeatures_tabs_showBox{ width:100%; }
.transactTab_left{ width:100%; float:none; padding:0px 0px 30px 0px; }
.transactTab_right{ width:100%; float:none; }
.lm_transctDevicePics ul li{ max-width:none; }

.lm_transctDevice_payLogos ul li a{ height:26px; }
.lm_transctDevice_payLogos ul li a.lm_transctDevice_payLogos_logo2{ width:76px; }
.lm_transctDevice_payLogos ul li a.lm_transctDevice_payLogos_logo1{ width:24px; }
.lm_transctDevice_payLogos ul li a.lm_transctDevice_payLogos_logo3{ width:40px; }
.transactTab_leftIocn2{ height:45px; width:45px; }
.transactTab_left ul li span{ width:60px; }

.nav_socials{ width:100%;}



/***********products marketing mobile css***************/

.products_menuInner{ padding:12px 10px 0px 10px; min-height:68px; }

.products_menuInner ul li{ padding:0px 10px; }

.products_menuInner ul li a{ font-size:12px; padding-bottom:4px; margin-bottom:8px; line-height:14px; border-width:1px; }

.productsBaner_main{ background-size:652px auto; background-position:center -60px ;}
.proBanerInner{ max-width:320px; margin:auto; height:310px; }
.proBaner_pic4 { width: 178px; top: 65px; left: 56px; }
.proBaner_pic3 { width: 170px; top: 157px; left: -22px; }
.proBaner_pic2 { width: 174px; top: 138px; left: 146px; }
.proBaner_pic1 { width: 142px; top: 170px; left: 35px; }


.perFect_solution_accepts ul li span{ margin-top:0px; font-size:13px; padding-bottom:10px; }

.nativeMain{ height:300px; }
.perFect_solution_accepts::after{ display:none; }
.native_pos{ padding:20px 15px 20px 30px; width:380px; height:250px;}
.native_pos h2{ font-size:16px; line-height:20px; padding-bottom:10px; max-width:260px;  }
.native_pos ul li{ margin-right:10px; max-width:80px; }

.pointSale_inner{ padding:40px 0px 10px 0px; }

.pointSale_heading{ padding-top:0px; font-size: 20px; line-height: 26px; padding-bottom:20px; }
.nativeMian_image span img{ width:100%; }
.nativeMian_image{ padding-bottom:20px; }

.salePoint_listing ul li{ width:100%; display:block; }
.modren_productsInn ul li strong{ padding-left:0px; }
.modren_productsInn ul li em{ width:26px; }

.sliderAds_textHdngs h2{ font-size:24px; padding-right:0px; line-height:30px;  }
.sliderAds_textHdngs p br{ display:none; }

.products_menuInner .ApplyNow_mainButton{ margin-top:-5px; }

.products_menuInner ul{ padding-right:100px; text-align:left; }

.benefits_integratedTitle span img{ max-width:34px; max-height:34px; }

.srchBox_field input{ font-size:30px; }

.searchPopup_main{ padding:20px 0px; line-height:40px; }

.transactTaype_box a img { max-width: 70px; max-height: 40px; }


.transactTaype_box{ width:130px; height:130px; }

.googlePlayBtns_parent ul li a { max-width: 100px; }


















.pricingChanges .pricingGettoday_right ul li { width:100% !important; display:block !important; padding:0px 0px 30px !important}

.pricingContentInn { padding:0px;}

.pricingChanges .pricingGettoday_right ul li.orIcon::after { display:none;}
.pricingChanges .pricingGettoday_right ul li.orIcon::before { display:none;}

.pricingChanges .pricingGettoday_priceBox_lstng ul li { padding-bottom:15px !important;}


.applyBttn { padding-top:30px;}














	
}