.abc_xyzClass::-webkit-input-placeholder {
    color: #00643c
}

.abc_xyzClass:-moz-placeholder {
    color: #00643c;
    opacity: 1
}

.abc_xyzClass::-moz-placeholder {
    color: #00643c;
    opacity: 1
}

.abc_xyzClass:-ms-input-placeholder {
    color: #00643c
}

@font-face {
    font-family: 'MarkPro';
    src: url('fonts/MarkPro.eot');
    src: url('fonts/MarkPro.woff') format('woff');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'MarkPro_bold';
    src: url('fonts/MarkPro-Bold.eot');
    src: url('fonts/MarkPro-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'MarkPro_italic';
    src: url('fonts/MarkPro-Italic.eot');
    src: url('fonts/MarkPro-Italic.woff') format('woff');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'MarkPro_medium';
    src: url('fonts/MarkPro-Medium.eot');
    src: url('fonts/MarkPro-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal
}

* {
    box-sizing: border-box
}

* {
    margin: 0px;
    padding: 0px
}

ul li {
    list-style: none
}

a {
    text-decoration: none
}

.clr {
    clear: both
}

input,
textarea,
select {
    border: 0px none;
    background: none;
    outline: none;
    font-size: 14px;
    color: #323c3f;
    font-family: 'MarkPro'
}

img {
    outline: none;
    max-width: 100%;
    height: auto;
    border: 0px none
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
    font-weight: normal
}

input[type='submit'] {
    border-radius: 0px;
    -webkit-appearance: none;
    appearance: none;
    outline: none
}

textarea {
    resize: none;
    overflow: auto
}

:focus {
    outline: none;
    border: 0px none
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
    height: 0px;
    visibility: hidden
}

.clearfix {
    display: block;
    zoom: 1
}

em {
    font-style: normal
}

body {
    width: 100%;
    color: #31465b;
    font-size: 14px;
    font-family: 'MarkPro';
    background: #ffffff;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out
}

.hidden {
    overflow: hidden
}

body.hidden {
    overflow: hidden
}

.body_green {
    background: #00643c
}

.autoContent {
    margin: auto;
    max-width: 1130px;
    padding: 0px 15px
}

#wrapper {
    width: 100%;
    overflow-x: hidden;
    opacity:1;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}


.header_main{ width:100%; position:fixed; left:0px; top:0px;  z-index:2236; transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease; }

.header_main.fixed{ position:fixed; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1); }

.headerNav{ background:#115740; width:100%;     transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;}

.header_main.fixed .headerNav{ margin-top:-38px; }

.headerNav_inner{ max-width:1290px; margin:auto; padding:10px 20px; }

.navText{ width:80%; float:left; }

.navText p{ opacity: 0.5;  font-size: 14px; line-height:18px; color: #ffffff; }

.navText p a{  color: #ffffff;  }

.nav_socials{ width:20%; float:right; }

.nav_socials ul{ float:right; }

.nav_socials ul li{ float:left; padding-left:15px; }

.nav_socials ul li:first-child{ padding-left:0px; }

.nav_socials ul li a{  font-size: 14px; line-height:18px; color: #ffffff; display:block;  transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease; }
.nav_socials ul li a:hover{ opacity:0.5; }

.header{ width:100%; background:#006341;  }





.headerAuto{ width:100%; max-width:1366px; margin:auto; }

.headerInner{ width:100%; padding:14px 16px 14px 86px; position:relative; }


.logo{ width:auto; position:absolute; left:16px; top:14px; }
.logo a{ display:block; max-width:42px; height:auto; }
.logo a img{ max-width:none; width:100%; height:auto; display:block; }

.menu{ width:65%; float:left; padding-top:10px;  }

.menu ul li{ float:left; padding-right:40px; }

.menu ul li:last-child{ padding-right:0px; }

.menu ul li a{ font-size:15px; line-height:24px; color:#fff; display:block; transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease; }

.menu ul li a:hover, .menu ul li.active a{ color:#cedc00; }

.headerRight_btns{ float:right; width:35%; }

.headerRight_btns ul{ float:right; }

.headerRight_btns ul li{ float:left; padding-left:22px; }

.headerRight_btns ul li:first-child{ padding-left:0px; }

.headerApplyNow{ border-radius: 5px;  background-color: #ffffff; border: solid 1px #ffffff;  color: #009639; font-size:14px; line-height:22px;  font-family: 'MarkPro_bold'; display:block; padding:10px 30px; transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;  }

.headerApplyNow:hover{ color:#fff; background:none; }



.headerRegister{ color: #fff; font-size:15px; line-height:22px; display:block; padding:12px 0px; transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease; }

.headerRegister:hover{ color:#cedc00; }

.header_callIcon{ width:22px; height:25px; display:block; background:url(../images/headerContact_icon.png) no-repeat center center; background-size:22px auto; margin-top:10px; margin-right:10px; transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;}

.header_searchIcon{ width:22px; height:25px; display:block; background:url(../images/header_searchIcon.png) no-repeat center center; background-size:20px auto; margin-top:10px;  margin-right:10px;transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease; }

.header_searchIcon:hover, .header_callIcon:hover{ opacity:0.5; }

.hmBaner{ width:100%; position:relative; background-color:#f7f8f8 !important; background:url(../images/homeBaner_bg.png) no-repeat center -120px; margin-top:-38px; }

.hmBanerInner{ padding:108px 0px 60px 0px; max-width:850px; margin:auto; text-align:center; }

.hmBaner_image{ display:block; padding-bottom:20px; }

.hmBaner_image span{ display:block; }

.hmBaner_image span img{ max-width:none; width:100%; height:auto; display:block; margin:auto; }

.hmBaner_content{ width:100%; }

.hmBaner_content h2{ font-size:24px; line-height:32px; padding-bottom:20px; color: #00643c; font-family: 'MarkPro_medium'; }

.hmBaner_content h2 strong{ font-size:40px; }

.hmBaner_content p{ font-size:15px; line-height:24px; padding-bottom:60px; color: #666666; }


.ApplyNow_mainButton{ border-radius: 5px;  background-color: #009639; border: solid 1px #009639;  color: #ffffff; font-size:15px; line-height:22px;  font-family: 'MarkPro_bold'; display:block; padding:12px 30px;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease; width:100%; max-width:380px; margin:auto;  }

.ApplyNow_mainButton:hover{ color:#009639; background:none; }

.content{ width:100%; }

.products_main{ width:100%; }

.products_inner{ width:100%; padding:60px 0px;  }

.productsUp{ width:100%; padding-bottom:50px; text-align:center; }

.mainHeading{ text-align:center;  position:relative; font-size:24px; line-height:32px; color:#333333;  margin-bottom:30px;  font-family: 'MarkPro_medium';  }

.mainHeading:after{ width:48px; height:3px; display:block; margin:auto; background:#80c342; content:""; margin-top:15px; }

.productsUp h2{ position:relative; font-size:24px; line-height:32px; color:#00643c;  margin-bottom:30px; font-family: 'MarkPro_medium';   }




.hmPro_tabsOuter{ width:100%; }

.hmPro_tabsTitle{ width:100%; border-bottom:1px solid #f1f1f1; margin-bottom:40px;  }

.hmPro_tabsTitle ul{ margin:0px -12px; display:table; table-layout:fixed; }

.hmPro_tabsTitle ul li{ width:25%; display:table-cell; vertical-align:top; padding:0px 12px 0px 12px; position:relative; }




.hmPro_tabsTitle_inner{ width:100%; cursor:pointer; position:relative; padding-bottom:30px;  }

.hmPro_tabsTitle ul li:after{ content:""; width:90%; height:3px; position:absolute; left:5px; bottom:-1px; background:#80c342;  transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease; opacity:0; }

.hmPro_tabsTitle ul li:hover:after, .hmPro_tabsTitle ul li.active:after{ opacity:1; }


.hmPro_tabTitle_image{ width:100%; padding-bottom:20px; }

.hmPro_tabTitle_image span{ display:block; max-width:144px; max-height:86px; }

.hmPro_tabTitle_image span img{ height:auto;  display:block; max-width:144px; max-height:86px;  }

.hmPro_tabsTitle_inner h3{ font-size:18px; line-height:24px; color: #006341; padding-bottom:10px; font-family: 'MarkPro_medium'; }

.hmPro_tabsTitle_inner p{ font-size:15px; line-height:24px; color: #666666;  padding-bottom:4px; letter-spacing: -0.3px; }

.hmPro_tabsTitle_inner a{ color:#009639; font-size:15px; line-height:24px;font-family: 'MarkPro_bold'; }

.hmPro_tabsTitle_inner a:hover{ text-decoration:underline;  }

.hmPro_tabsShow_main{ width:100%; }

.hmPro_tabsShow{ width:100%; text-align:center; display:none; }

.hmPro_tabsShowPic{ width:100%; padding-bottom:30px; max-width:680px; margin:auto;  }

.hmPro_tabsShowPic img{ display:block; margin:auto; }

.hmPro_tabsShow p{ font-size:15px; line-height:24px; color:#666666;  padding-bottom:30px;   }


.hmPro_tabsShow_2 .hmPro_tabsShowPic{ max-width:400px; }


.benefits_main{ width:100%; background:#006341; }

.benefits_inner{ padding-top:60px; }

.benefits_inner .mainHeading{ color:#fff; }

.benefits_listing{ width:100%; }

.benefits_listing ul{ margin:0px -20px; font-size:0px; margin-bottom:46px; border-bottom:1px solid rgba(187, 187, 187, 0.2); }

.benefits_listing ul:last-child{ border-bottom:0px; margin-bottom:0px; }

.benefits_listing ul li{ width:33.33%; display:inline-block; vertical-align:top; padding:0px 20px 60px 20px; position:relative; font-size:14px; }


.benefits_integratedTitle{ position:relative; width:100%; padding:20px 0px; padding-left:60px; }

.benefits_integratedTitle span{ display:block; width:44px; height:44px; position:absolute; left:0px; top:0px;  }

.benefits_integratedTitle span i{ display:table; width:100%; height:100%; }

.benefits_integratedTitle span i figure{  display:table-cell; width:100%; height:100%; vertical-align:middle; }

.benefits_integratedTitle span img{ max-width:44px; max-height:44px; display:block; margin:auto; }

.benefits_integratedTitle h2{ font-size:18px; line-height:24px; color: #7ed321; font-family: 'MarkPro_medium'; }

.benefits_integratedTitle h2 strong{ color:#fff; display:none; }

.benefits_integratedTxt p{ font-size:15px; line-height:24px; color:#ffffff;  }



.feature_main{ width:100%; background:#f7f8f8; }

.feature_inner{ width:100%; padding:60px 0px; }
.feature_inner .mainHeading{ margin-bottom:50px; }


.lmFeatures_tabsOuter {
    width:100%;
    border-radius:6px;
    border:solid 1px #617283; background:#fff;
    position:relative
}


.lmFeatures_tabs_tile {
    width:100%;
    border-bottom:solid 1px #617283;
    border-radius:4px 4px 0px 0px;
    margin-bottom:40px;
    overflow:hidden
}
.lmFeatures_tabs_tile ul {
    width:100%;
    display:table;
    table-layout:fixed
}
.lmFeatures_tabs_tile ul li {
    width:20%;
    display:table-cell;
    vertical-align:middle;
    border-left:solid 1px #617283;
}
.lmFeatures_tabs_tile ul li:first-child {
    border-left:0px none
}
.lmFeatures_tabs_tile ul li a {
    display:block; font-family: 'MarkPro_medium';
    text-align:center; background:#f7f8f8;
    font-size:15px;
    letter-spacing:1.3px;
    color:#333333;
    line-height:24px;
    padding:15px;
    transition:all 0.3s ease;
    -moz-transition:all 0.3s ease;
    -ms-transition:all 0.3s ease;
    -o-transition:all 0.3s ease;
    -webkit-transition:all 0.3s ease
}
.lmFeatures_tabs_tile ul li a:hover,.lmFeatures_tabs_tile ul li a.active {
    background-color:#00973b;
    color:#fff
}
.lmFeatures_tabs_showOut {
    width:100%;
    padding:0px 20px 20px 20px
}
.lmFeatures_tabs_show {
    width:100%;
    display:none
}
.lmFeatures_tabs_showInnr {
    width:100%; font-size:0px;
}



.lmFeatures_tabs_showBox {
    width:33.33%; font-size:15px;
    display:inline-block; vertical-align:top;
    padding:10px 15px 40px 15px
}
.lmFeatures_manage_hdng {
    width:100%;
    padding-bottom:20px
}
.lmFeatures_manage_hdng h2 {
    position:relative;
    font-family: 'MarkPro_medium';
    font-size:15px;
    line-height:25px;
    color:#333333;
    padding-left:46px;

}
.lmFeatures_manage_hdng h2 span {
    width:25px;
    height:25px;
    display:block;
    position:absolute;
    left:0px;
    top:0px
}
.lmFeatures_manage_hdng h2 span i {
    width:100%;
    height:100%;
    display:table
}
.lmFeatures_manage_hdng h2 span figure {
    display:table-cell;
    vertical-align:middle;
    width:100%;
    height:100%;
    text-align:center
}
.lmFeatures_manage_hdng h2 span img {
    display:block;
    max-width:25px;
    max-height:25px;
    margin:auto
}
.lmFeatures_reportingListig {
    width:100%
}
.lmFeatures_reportingListig ul li {
    list-style:disc outside;
    margin-left:14px;
    font-size:13px;
    line-height:26px;
    color:#617283;
    padding-left:10px
}
.lmFeatures_reportingListig p {
    font-size:13px;
    line-height:26px;
    padding-bottom:5px;
    color:#617283
}
.lmFeatures_reportingListig p strong{ font-family: 'MarkPro_bold'; }
.lm_transctDevicePics {
    width:100%;
    padding-bottom:40px;
    text-align:center
}
.lm_transctDevicePics ul li {
    display:inline-block;
    *display:inline;
    *zoom:1;
    max-width:570px;
    vertical-align:top;
    padding:0px 10px
}
.lm_transctDevice_payLogos {
    width:100%;
    text-align:center;
    padding-bottom:30px
}
.lm_transctDevice_payLogos ul li {
    padding-left:36px;
    display:inline-block;
    *display:inline;
    *zoom:1
}
.lm_transctDevice_payLogos ul li:first-child {
    padding-left:0px
}
.lm_transctDevice_payLogos ul li a {
    display:block;
    height:54px;
    width:58px;
    background:url(../images/lm_transctDevice_payLogos_logo1.png) no-repeat center center;
    background-size:100% auto !important
}
.lm_transctDevice_payLogos ul li a.lm_transctDevice_payLogos_logo1 {
    width:56px;
    background:url(../images/lm_transctDevice_payLogos_logo1.png) no-repeat center center
}
.lm_transctDevice_payLogos ul li a.lm_transctDevice_payLogos_logo2 {
    width:144px;
    background:url(../images/lm_transctDevice_payLogos_logo2.png) no-repeat center center
}
.lm_transctDevice_payLogos ul li a.lm_transctDevice_payLogos_logo3 {
    width:76px;
    background:url(../images/lm_transctDevice_payLogos_logo3.png) no-repeat center center
}




#lmFeatures_tabs_4 .lmFeatures_tabs_showBox{ width:50%; }

.supportedCouriers_main{ padding-top:30px; max-width:370px;  }

.supportedCouriers_main h3{ font-size:14px; line-height:22px; color:#617283; padding-bottom:20px; font-family: 'MarkPro_bold'; }

.supportedCouriers_main ul li{ padding-right:20px; padding-bottom:6px; display:inline-block; vertical-align:top; }

.courier_box{ width:46px; text-align:center; }

.courier_box span{ width:46px; height:46px; display:block; margin-bottom:3px; }

.courier_box strong{ display:block; font-size:8px; line-height:10px; color:#617283; }

.transactTab_right{ width:60%; float:right; }

.transactTab_left{ width:40%; float:left; padding-top:30px;  }

.transactTab_left ul{ text-align:center; }

.transactTab_left ul li{ padding:0px 0px 30px 0px; }

.transactTaype_box{ width:180px; height:180px; margin:auto; overflow:hidden; border-radius:50%; background:#78be20; }
.transactTaype_box a{ width:100%; height:100%; display:table; table-layout:fixed; }
.transactTaype_box a figure{ width:100%; height:100%; display:table-cell; vertical-align:middle; }
.transactTaype_box a img{ max-width:100px; max-height:70px; margin:auto; display:block; }
.transactTab_left ul li p{ font-size:16px; color:#78be20; line-height:1.5em; padding-top:12px; }

.sliderAds_outer {
    width: 100%;
    position: relative;
    background: #00643c;
    background: -moz-linear-gradient(-45deg, #00643c 40%, #80c342 100%);
    background: -webkit-linear-gradient(-45deg, #00643c 40%, #80c342 100%);
    background: linear-gradient(135deg, #00643c 40%, #80c342 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00643c', endColorstr='#80c342', GradientType=1)
}

.sliderAds_innr {
    width: 100%;
    padding: 50px 0px 40px 0px
}

.sliderAds_run {
    width: 100%;
    position: relative
}

.sliderAds_left {
    width: 56%;
    padding: 0px 10% 0px 3%;
    float: right;
    text-align: right
}

.sliderAds_leftInner{ max-width: 630px;
    margin: auto;}

.sliderAds_right {
    width: 44%;
    float: left; padding-top:50px;
}

.sliderAds_right span {
    display: block
}

.sliderAds_right span img {
    max-width: none;
    width: 100%;
    height: auto;
    margin: auto;
    display: block
}

.sliderAds_locIocn {
    max-width: 80px;
    padding-bottom: 34px;
    display: inline-block
}

.sliderAds_locIocn span {
    display: block;
    max-width: none;
    width: 100%;
    height: auto
}



.sliderAds_textHdngs h3, .sliderAds_textHdngs h2 {
    color: #78be20;
    padding-bottom:20px; margin-bottom:20px; border-bottom:1px solid rgba(255,255,255,0.2);
    font-size: 22px;
    line-height: 28px; display:inline-block; padding-right:30px;
    font-family: 'MarkPro_medium';
}

.sliderAds_textHdngs h1 {
    color: #fff;
    padding-bottom: 30px;
    font-size:34px;
    line-height: 40px;
    position: relative;
    display: block;
    font-family: 'MarkPro_medium';
}

.sliderAds_textHdngs h2{ font-size:36px; line-height:40px; color:#ffffff; }

.storeExperience .sliderAds_textHdngs h3{ padding:0px; margin:0px; border:0px none; padding-bottom:20px;}
.storeExperience  .sliderAds_right span{ max-width:340px; }


.sliderAds_textHdngs h1 em {
    font-family: 'MarkPro';
    letter-spacing: -0.7px;
    padding-right: 14px;
    position: relative
}

.sliderAds_textHdngs h1 sup {
    font-family: 'MarkPro';
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 14px
}

.sliderAds_textHdngs p {
    color: #fff;
    padding-bottom: 40px;
    font-size: 15px;
    line-height: 24px; font-family: 'MarkPro';
}

.sliderAds_textHdngs p strong {
    font-size: 24px;
    line-height: 30px;
    color: #80c342;
    padding-bottom: 20px;
    display: block
}

.sliderAds_learnUpdates_btnsOut {
    width: 100%;
    padding-bottom: 16px
}

.sliderAds_learnUpdates_btnsOut ul li {
    display: inline-block;
    padding: 0px 5px
}

.sliderAds_learnUpdates_btn {
    display: inline-block;
    border-radius:5px;
    padding: 10px 15px;
    line-height: 22px;
    color: #fff; background:transparent; border:1px solid #fff;
    min-width: 180px;
    text-align: center;
    font-size: 14px;
    font-family: 'MarkPro_bold';
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    box-shadow: 1px 3px 16px 0 rgba(0, 0, 0, 0.3);
    vertical-align: top
}

.sliderAds_learnUpdates_btn.active {
    color: #009639;
    background-color: #fff
}



.sliderAds_learnUpdates_btn:hover {
    color: #009639;
    background-color: #fff
}

.sliderAds_learnUpdates_btn.active:hover{  color:#fff; background-color: #009639; border-color:#009639; }

.sliderAds_run2nd .sliderAds_left {
    float: left;
    padding: 0px 3% 0px 10%;
    text-align: left
}

.sliderAds_run2nd .sliderAds_right {
    float: right
}

.sliderAds_run3rd .sliderAds_left {
    text-align: left;
    padding: 0px 3% 0px 10%;
    float: left
}

.sliderAds_run3rd .sliderAds_right {
    width: 30%;
    padding-top: 20px
}

.sliderAds_outer .bx-wrapper .bx-pager.bx-default-pager a {
    background: #fff !important;
    opacity: 0.4 !important
}

.sliderAds_outer .bx-wrapper {
    margin-bottom: 30px !important
}

.sliderAds_outer .bx-wrapper .bx-pager.bx-default-pager a:hover,
.sliderAds_outer .bx-wrapper .bx-pager.bx-default-pager a.active {
    opacity: 1 !important
}









/***********pricing********/


.pricingContentOut { width: 100%; background:#f7f8f8; }

.pricingContentOut .mainHeading{ margin-bottom:60px; }

.pricingContentInnOut {
    width: 100%;
    padding: 60px 0px 0px 0px
}

.pricingContentInn {
    width: 100%;
    position: relative;
}

.pricingGettoday_out {
    width: 100%;
    padding-bottom:70px
}

.pricingGettoday_left {
    width: 38%;
    float: left;
    padding-right: 60px;
}

.pricingGettoday_left h1{ font-size:50px; line-height:54px; color:#006341; }
.pricingGettoday_left h2{ font-size:36px; line-height:44px; color:#333333; font-family: 'MarkPro_medium'; }
.pricingGettoday_left h3{ font-size:26px; line-height:34px; color:#333333; font-family: 'MarkPro_medium'; padding-bottom:15px; margin-bottom:20px; border-bottom:1px solid rgba(121,121,121,0.20); }
.pricingGettoday_left h3 small{ font-size:22px; }

.pricingGettoday_left h6{ font-size:16px; line-height:22px; color:#333333; font-family: 'MarkPro_medium'; padding-bottom:10px; }

.pricingGettoday_left p{ font-size:15px; line-height:22px; color:#666666;  padding-bottom:30px; }

.pricingGettoday_left p.pricingBadge{ padding-bottom:0px; padding-left:46px; background:url(../images/pricingBadge.png) no-repeat left 0px; background-size:32px auto;  max-width:300px; }

.pricingGettoday_left p strong{ font-family: 'MarkPro_bold'; }




.pricingLb_device{ width:100%;  position:relative; }
.pricingLb_device span{ display:block; max-width:226px; float:right; position:relative; z-index:2; margin-bottom:-40px;  }
.pricingLb_device:before{ width:100%; height:1px; content:""; position:absolute; left:0px; bottom:20px; background:rgba(121,121,121,0.20); z-index:1; }

.pricingGettoday_right {
    width: 62%;
    float: right
}

.pricingGettoday_box {
    width: 50%;
    float: left;
    border-radius: 5px;
    background-color: #fff;
    text-align: center;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;   box-shadow: 6px 14px 41px 0 rgba(99, 117, 138, 0.23);
}

.pricingGettoday_chckRadio {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 3;
    opacity: 0;
    cursor: default
}

.pricingGettoday_boxCont h2 {
    font-size: 50px;
    line-height: 55px;
    color: #006341;
    padding-bottom: 10px; border-bottom:1px solid rgba(121,121,121,0.20);
}

.pricingGettoday_boxCont h2 small{ font-size:18px; }

.pricingRates{ display:block; border-bottom:1px solid rgba(121,121,121,0.20); font-size:16px; line-height:24px; color:#666; padding:15px; text-transform:uppercase; margin-bottom:15px;  font-family: 'MarkPro_bold'; }
.pricingRates em{ color:#78be20;  }

.pricingRates span{ display:block; font-size:14px; line-height:20px; color:#666666; padding-top:10px; font-family: 'MarkPro'; text-transform:none; }

.pricingGettoday_pricevalue {
    display: inline-block;
    border-radius: 60px;
    background-color: #fff;
    line-height: 30px;
    color: #4a4a4a;
    text-align: center;
    font-size: 20px;
    letter-spacing: 0.2px;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    margin-bottom: 22px;
    min-width: 112px;
    padding: 5px 10px;
    cursor: pointer;
    position: relative;
    z-index: 3
}

.pricingGettoday_hdr {
    border-radius: 5px 5px 0px 0px;
    background: #006341;
    padding: 10px 10px;
    text-align: center;  transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}

.pricingGettoday_hdr p {
    line-height: 20px;
    font-size: 15px; font-family: 'MarkPro_medium';
    text-align: center;
    color: #ffffff
}

.pricingBox_sprtr {
    width: 60px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
    height: 2px;
    border: solid 1px #bcc6d0
}

.pricingGettoday_boxCont {
    padding: 20px 20px 30px 20px
}

.pricingGettoday_priceBox_lstng {
    width: 100%;
    min-height: 300px;
    overflow-y: auto;

    margin-bottom:0px
}

.pricingGettoday_boxCont ul {
    text-align: left;
    display: table-cell;
    vertical-align: top;
    width: 100%;
    height: 100%
}

.pricingGettoday_boxCont ul li {
    padding-bottom: 10px
}

.pricingGettoday_boxCont ul li span {
    display: block;
    font-size: 13px;
    line-height: 18px;
    color: #3e4b57;
    padding-left: 22px;
    background: url(../images/pricing_checkIcon.png) no-repeat left 5px;
    background-size: 11px auto
}

.pricingGettoday_boxCont ul li.notAvail span {
    background: url(../images/pricing_checkIcon.png) no-repeat left 5px;
    background-size: 10px auto
}

.pricingGettoday_boxCont ul li strong {
    display: block;
    font-size: 13px;
    line-height: 18px;
    color: #3e4b57;
    padding-left: 22px;
    font-family: 'MarkPro_bold';
    text-transform: uppercase
}

.pricingGettoday_boxCont ul li strong em {
    color: #80c342
}

.pricePPos_pic {
    display: block;
    margin: auto;
    width: 104px;
    height: auto
}

.pricePPos_pic img {
    max-width: none;
    width: 100%;
    height: auto;
    display: block
}

.pricingBox_getStarted_btn {
    display: inline-block;
    border-radius: 60px;
    padding: 10px 15px;
    line-height: 22px;
    color: #4a4a4a;
    min-width: 138px;
    text-align: center;
    font-size: 14px;
    font-family: 'MarkPro_medium';
    letter-spacing: 0.2px;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    margin-bottom: 16px;
    background-color: #ffffff;
    box-shadow: 1px 3px 16px 0 rgba(36, 37, 38, 0.13)
}

.pricingBox_getStarted_btn:hover {
    background: #80c342;
    color: #fff
}

.pricingGettoday_box.active {
    background-color: #ffffff;
    box-shadow: 6px 14px 41px 0 rgba(99, 117, 138, 0.23);
    transform: scale(1.06, 1.06);
    z-index: 2
}

.pricingGettoday_box.active .pricingGettoday_hdr{ background:#78be20; }

.pricingGettoday_box.active .pricingGettoday_pricevalue {
    background: #80c342;
    color: #fff
}

.pricingGettoday_box.active .pricingBox_getStarted_btn {
    background: #80c342;
    color: #fff
}
.sliderAds_innr .bx-controls{ display:none; }

.pricingGettoday_box .ApplyNow_mainButton{ max-width:170px; margin-bottom:20px; position:relative; z-index:4;  }


.pricingGettoday_box .ApplyNow_mainButton{ background:#fff; color:#009639; }
.pricingGettoday_box .ApplyNow_mainButton:hover{  background:#009639; color:#fff; }

.pricingGettoday_box.active .ApplyNow_mainButton{ background:#009639; color:#fff; }
.pricingGettoday_box.active .ApplyNow_mainButton:hover{  background:#fff; color:#009639; }





.retailStore_main{ width:100%; }

.retailStore_slider{ width:100%; position:relative; }

.retailStore_inner{ width:100%; position:relative; }

.retailStore_image{ width:100%; }

.retailStore_image img{ max-width:none; width:100%; height:auto; display:block; margin:auto; }

.retailStore_pos{ width:100%; height:100%; position:absolute; left:0px; top:0px;  }
.retailStore_posTbl{ width:100%; height:100%; display:table; }
.retailStore_posCell{ width:100%; height:100%; display:table-cell; vertical-align:middle;  }

.retailStore_data{ width:100%; position:relative; padding-left:200px; margin-top:30px; }

.retailStore_data{ max-width:650px; float:right; }

.retailStore_dataRight{ max-width:390px; float:right; text-align:right; }

.retailStore_dataRight h2{ font-size:26px; line-height:32px; color:#00643c; padding-bottom:40px;  font-family: 'MarkPro_medium'; }
.retailStore_dataRight h3{ font-size:22px; line-height:26px; color:#333333; padding-bottom:15px;  font-family: 'MarkPro_medium'; min-height:80px; }

.retailStore_dataRight p {
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    padding-bottom: 26px
}
.retailStore_dataRight ul{ min-height:150px; }
.retailStore_dataRight ul li {
    display: inline-block;
    padding-right: 8px;
    margin-right: 8px;
    margin-bottom: 2px;
    position: relative
}


.retailStore_dataRight ul li:after {
    width: 1px;
    height: 14px;
    content: "";
    position: absolute;
    right: 0px;
    top: 5px;
    background: #617283
}

.retailStore_dataRight ul li:last-child:after {
    display: none
}

.retailStore_dataRight ul li a {
    display: block;
    line-height: 22px;
    color: #617283;
    font-size: 13px
}

.retailStore_dataRight ul li a:hover {
    text-decoration: underline
}

.retailStore_circleImage{ width:130px; height:130px; border-radius:50%; overflow:hidden; background:#80c342; float:left; position:absolute; left:0px; top:50%; margin-top:-65px;  }

.retailStore_circleImage span{ width:100%; height:100%; display:table; }
.retailStore_circleImage span figure{ width:100%; height:100%; display:table-cell; vertical-align:middle; text-align:center; }

.retailStore_circleImage span img{ max-width:60px; max-height:60px; display:block; margin:auto; }


.retailStore_sliderrun .bx-controls{ position:absolute; width:100%; left:0px; bottom:40px; z-index:222;  }
.retailStore_sliderrun .bx-default-pager{ max-width:1130px; margin:auto; text-align:right; padding:0px 15px; }
.retailStore_sliderrun .bx-controls-direction{ display:none; }

.retailStore_sliderrun .bx-pager-item{ display:inline-block; padding:4px; font-size:0px;  }

.retailStore_sliderrun .bx-pager-item a{ width:10px; height:10px; display:block; border-radius:50%; background:#78be20; opacity:0.3; }
.retailStore_sliderrun .bx-pager-item a.active{ opacity:1; }




.ppSupport_main{ width:100%; background:url(../images/ppSupport_mainbg.png) no-repeat center center; background-size:cover; }

.ppSupport_inner{ width:100%; padding:100px 0px 100px 0px; }

.ppSupport_cont{ max-width:500px; float:right; }

.ppSupport_cont .mainHeading{ text-align:left; }

.ppSupport_cont .mainHeading:after{ margin-left:inherit; }

.ppSupport_cont ul li{ width:100%; padding-bottom:20px; padding-left:46px; }

.ppSupport_cont .lmFeatures_manage_hdng{ margin-left:-46px; padding-bottom:10px; }
.ppSupport_cont .lmFeatures_manage_hdng h2{ padding-top:4px; color:#006341; }

.ppSupport_cont p{ font-size:15px; line-height:24px; color:#666666; padding-bottom:5px; }

.ppSupport_cont p strong{  font-family: 'MarkPro_bold';  }

.ppSupport_cont p a{ color:#009639; }

.ppSupport_cont p a:hover{ text-decoration:underline; }


/******footer**************/


.feedBack_mattersOut {
    width: 100%;
    padding: 60px 0px;
    background: #78be20
}

.feedBack_mattersInnr {
    width: 100%;

}

.feedBack_mattersInnr h2 {
    display: inline-block;
    padding-right: 60px;
    color: #fff;
    letter-spacing: -0.5px;
    font-size: 24px;
    line-height: 36px;
    font-family: 'MarkPro_medium';
    vertical-align: top;
    padding-top: 4px
}

.feedBack_mattersInnr strong {
    display: inline-block;
    padding-right: 50px;
    color: #006341;
    font-size: 14px;
    line-height: 36px;
    vertical-align: top;
    padding-top: 4px
}

.feedBack_sendBtn {
    display: inline-block;
    border-radius: 5px;
    padding: 12px 10px;
    line-height: 22px;
    color: #009639;
    min-width: 190px;
    text-align: center;
    font-size: 15px;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease; font-family: 'MarkPro_bold';
    background-color: #fff; border:1px solid #fff;
    float:right;
}

.feedBack_sendBtn:hover {
    color: #fff;
    background-color:transparent;
}

.footerOut {
    padding:60px 0px 0px 0px;
    background: #00643c
}

.footerInnr {
    width: 100%; padding-bottom:50px;
}




.footerUpHding {
    display: block;
    color: #00643c;
    letter-spacing: -0.7px;
    font-size: 36px;
    line-height: 42px;
    font-family: 'MarkPro_medium';
    vertical-align: top;
    padding-bottom: 30px
}

.footerUp {
    width: 100%;
    border-bottom: solid 1px #ffffff;
    padding: 0px 0px 30px 0px;
    margin-bottom: 30px
}

.footerContactsoUT {
    width: 100%
}

.footerContacts {
    width: 50%;
    float: left
}

.footerContacts ul li strong {
    display: inline-block;
    color: #ffffff;
    padding-left:60px;
    line-height: 40px;
    font-size: 36px;
    letter-spacing: 1.4px;
    background: url(../images/footerContactsIcon1.png) no-repeat left 0px;
    background-size: 36px auto
}

.footerContacts ul li strong a {
    color: #ffffff;
    margin-bottom: 6px;
    display: block
}

.footerContacts ul li strong em {
    display: block;
    text-align: left;
    font-size: 15px;
    line-height: 22px;
    color: #ffffff; font-family: 'MarkPro_medium';
}

#image-reel {
    width: 100% !important;
    height: auto !important
}

.footerCont_getStartedBtn {
    display: inline-block;
    border-radius: 60px;
    padding: 10px 15px;
    line-height: 22px;
    color: #00643c;
    min-width: 140px;
    text-align: center;
    font-size: 14px;
    font-family: 'MarkPro_medium';
    letter-spacing: 0.2px;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    background-color: #fff;
    box-shadow: 1px 3px 16px 0 rgba(0, 0, 0, 0.3);
    vertical-align: top
}

.footerCont_getStartedBtn:hover {
    color: #fff;
    background-color: #00643c
}

.footerPlayStors_out {
    width: 50%;
    float: right
}

.footer_chatIcon_out {
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 50px;
    z-index: 24;
    margin-bottom: 0px;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    opacity: 0;
    visibility: hidden
}

.footer_chatIcon_out.visible {
    opacity: 1;
    visibility: visible
}

.footer_chatIcon {
    width: 60px;
    height: 60px;
    display: block;
    background: url(../images/footer_chatIcon.png) no-repeat center center;
    background-size: 100% 100%;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease
}

.footer_chatIcon:hover {
    opacity: 0.8
}

.footerPlayStors_btnsOut {
    width: 100%;
    float: right;
    padding-top: 18px
}

.footerPlayStors_btnsOut ul {
    float: right
}

.footerPlayStors_btnsOut ul li {
    float: left;
    padding-left: 8px
}

.footerPlayStors_btnsOut ul li a {
    width: 136px;
    display: block
}

.footerPlayStors_btnsOut ul li a img {
    max-width: none;
    width: 100%;
    height: auto;
    display: block
}

.footerbtm {
    width: 100%;

}

.footerDfrntly_out h2 {
    display: block;
    color: #fff;

    font-size: 24px;
    line-height: 30px;
    font-family: 'MarkPro_medium';
    padding-bottom:25px
}

.footerDfrntly_innr {
    width: 100%
}

.footerLogo {
    width:100%; padding-bottom:30px;
}

.footerLogo a, .footer_memberLogo a {
    display: block;
    max-width: 230px
}

.footerLogo a img, .footer_memberLogo a img {
    max-width: none;
    width: 100%;
    height: auto;
    display: block
}

.footer_memberLogo{  width:100%; }

.footerCopRights {
    width: 60%;
    float: right;
    text-align: right
}

.footerCopRights p {
    font-size: 11px;
    color: #fff;
    line-height: 20px;
    padding-top: 6px
}

.footerCopRights p a,
.posSplash_footer p a {
    color: #fff
}


.footerNav{ width:100%; padding:20px 30px; background:#e2e2e2;  }

.footerNavInner{ width:100%;  max-width:1366px; margin:auto; }

.footerMenu{ width:54%; float:left; padding-top:12px;  }

.footerMenu ul li{ float:left; padding-right:30px; }
.footerMenu ul li:last-child{ padding-right:0px; }

.footerMenu ul li a{ display:block; padding-left:22px; font-size:13px; line-height:22px; color:#333; letter-spacing: -0.5px; }
.footerMenu ul li a:hover{ text-decoration:underline; }
.footerMenu ul li a.footerMenu_contact{ background:url(../images/footerMenuIcon_1.png) no-repeat left center; background-size:16px auto;}
.footerMenu ul li a.footerMenu_atm{ background:url(../images/footerMenuIcon_2.png) no-repeat left center; background-size:12px auto;}
.footerMenu ul li a.footerMenu_help{ background:url(../images/footerMenuIcon_3.png) no-repeat left center; background-size:16px auto;}
.footerMenu ul li a.footerMenu_tc{ background:url(../images/footerMenuIcon_4.png) no-repeat left center; background-size:12px auto; padding-left:18px;}


.footerMenu_authorised{ width:46%; float:right; padding-left:20px; text-align:right; }

.footerMenu_authorised p{ font-size:13px; line-height:22px; color:#333; letter-spacing: -0.4px; }



.menuIcon {
    border-bottom: 2px solid #fff;
    border-top: 2px solid #fff;
    cursor: pointer;
    height: 20px;
    position: absolute;
    right: 20px;
    top: 20px;
    transition: all 0.3s ease 0s;
    width: 30px;
    z-index: 23;
    display: none;

}

.menuIcon::after {
    background: #fff;
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    right: 0;
    top: 7px;
    transition: all 0.4s ease 0s;
    width: 80%
}

.menuIcon:hover::after {
    right: 20%
}

.menu_clos {
    border-radius: 3px;
    color: #daf6b4;
    cursor: pointer;
    display: none;
    font-size: 20px;
    height: 30px;
    line-height: 26px;
    position: absolute;
    right: 15px;
    text-align: center;
    top: 14px;
    transition: all 0.4s ease 0s;
    width: 30px
}

.menu_clos:hover {
    background: rgba(255, 255, 255, 0.2) none repeat scroll 0 0;
    color: #fff
}

.mob_retailStore_image{ display:none; }


.productsBaner_main{ width:100%; position:relative; background-color:#f7f8f8 !important; background:url(../images/homeBaner_bg.png) no-repeat center -120px; margin-top:-38px; overflow:hidden; }

.proBanerInner{  height:750px; position:relative; }

.proBaner_pic{ position:absolute; }
.proBaner_pic img{ display:block; max-width:none; height:auto; width:100%; }

.proBaner_pic1{ width:422px; top:295px; left:180px; z-index:4;  }
.proBaner_pic2{ width:475px; top:242px; left:550px; z-index:3;  }
.proBaner_pic3{ width:475px; top:206px; left:0px; z-index:2;  }
.proBaner_pic4{ width:386px; top:66px; left:338px; z-index:1;  }



.products_parent{ position:relative; padding-bottom:82px; }

.products_menu{ width:100%;  background-color: #ffffff; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1); background:#fff;transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease; position:absolute; left:0px; top:0px;    }

.products_menu.fixed{ position:fixed; }

.products_menuInner{ width:100%; text-align:center; padding:30px 15px 0px 15px; max-width:1366px; margin:auto;  }

.products_menuInner ul{ font-size:0px; }
.products_menuInner ul li{ display:inline-block; font-size:14px; position:relative; padding:0px 40px; vertical-align:top;  }

.products_menuInner ul li a{ position:relative; display:block; padding-bottom:26px; font-size:15px; line-height:24px; color:#55626e; border-bottom:2px solid transparent;transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;  }

.products_menuInner ul li:hover a, .products_menuInner ul li.active a{ border-bottom-color:#80c342; color:#80c342;  }





/********perfect solution starts*****************/

.prefectSolution_main{ padding:0px 0px; overflow:hidden; width:100%; }

.perFect_solution_innr {
    width: 100%;
    padding: 70px 0px 50px 0px;
    position: relative
}

.perFect_solution_title {
    width: 100%;
    padding-bottom: 32px
}

.perFect_solution_title h2 {
    font-size: 26px;
    line-height: 30px;
    letter-spacing: -0.7px;
    color: #00643c;
    font-family: 'MarkPro_medium';
    text-align: center; position:relative;
}


.perFect_solution_title h2:after{ width:48px; height:3px; display:block; margin:auto; background:#80c342; content:""; margin-top:15px; }


.perFect_solution_accepts { position:relative;
    width: 100%;
    width: 866px;
    min-height: 304px; padding-top:40px;
    margin: auto;
    background: url(../images/perFect_solution_accepts_bg@3x.png) no-repeat center bottom;
    background-size: 100% auto;
    margin-bottom: 50px;
}

.perFect_solution_accepts:after{ height:3px; width:10000px; position:absolute; left:-5000px; bottom:12px; background:#617283; content:""; z-index:1;  }

.perFect_solution_accepts ul li {
    width: 33.33%;
    float: left;
    padding-left: 38px;
    text-align: center;
    position: relative;
}

.perFect_solution_accepts ul li span {
    color: #00643c;
    font-size: 15px;
    line-height: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    display: inline-block;
    padding-left: 38px;
    position: relative;
    text-align: left;  font-family: 'MarkPro_medium'; margin-top:-40px;
}

.perFect_solution_accepts ul li em {
    display: block;
    width: 24px;
    height: 24px;
    font-size: 14px;
    line-height: 20px;
    padding: 2px;
    color: #fff;
    background-color: #80c342;
    border-radius: 50%;
    position: absolute;
    left: 0px;
    top: 0px;
    text-align: center
}

.perFect_solution_accepts ul li.selinIlstration_1 b {
    display: block;
    width: 195px;
    height: 145px;
    background: url(../images/selingSmthin_showIcon1.png) no-repeat center center;
    background-size: 100% 100%;
    position: absolute;
    right: -40px;
    top: 107px
}

.perFect_solution_accepts ul li.selinIlstration_2 b {
    display: block;
    width: 160px;
    height: 194px;
    background: url(../images/selingSmthin_showIcon2.png) no-repeat center center;
    background-size: 100% 100%;
    position: absolute;
    right: -32px;
    top: 56px
}

.perFect_solution_accepts ul li.selinIlstration_3 b {
    display: block;
    width: 140px;
    height: 141px;
    background: url(../images/selingSmthin_showIcon3.png) no-repeat center center;
    background-size: 100% 100%;
    position: absolute;
    right: 101px;
    top: 123px; z-index:2;
}

.perFect_solution_accepts ul li:last-child {
    text-align: right
}

.perFect_solution_posCont {
    width: 100%;
    max-width: 842px;
    margin: auto
}

.perFect_solution_posCont h3 {
    font-size:15px;
    line-height:24px;
    color: #55626e;
    padding-bottom: 34px;
    text-align: center
}

.perFect_solution_posCont h3 strong {
    color: #80c342
}

.perFect_solution_posCont ul {
    width: 100%;

}

.perFect_solution_posCont ul li {
    float: left;
    font-size: 15px;
    line-height: 24px;
    text-align: left;
    color: #55626e;
    padding-left: 22px;
    background: url(../images/perFect_solution_posContIcon@3x.png) no-repeat left 9px;
    background-size: 10px auto; width:60%;
}

.perFect_solution_posCont ul li:nth-child(even) {
    width:40%;
}

.perFect_solution_posCont p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.4px;
    text-align: left;
    color: #3e4b57
}

.perFect_saleBuy_banerOut {
    width: 100%
}

.perFect_saleBuy_banerInnr {
    width: 100%;
    position: relative;
    height: 660px;
    overflow: hidden
}

.perFect_saleBuy_banerInnr span {
    width: 100%;
    height: 1000px;
    position: absolute;
    left: 0px;
    top: -100px;
    background: url(../images/perFect_saleBuy_banerPic.jpg) no-repeat top center;
    background-size: cover;
    z-index: 1;
    margin-top: -100px;
    display: block !important
}

.perFect_saleBuy_banerInnr span img {
    max-width: none;
    width: 100%;
    height: auto;
    margin: auto;
    display: none
}


.nativeMain{ width:100%; position:relative; height:790px; background:url(../images/nativeImage.png) no-repeat top center; background-size:cover; overflow:hidden; }

.nativeInner{ width:100%; }

.native_pos{ width:920px; height:570px; background:url(../images/nativeShape.png) no-repeat top center; background-size:100% auto; padding:100px 30px 30px 140px; }


.native_pos h2{ font-size:24px; line-height:30px;  color: #ffffff; max-width:420px; padding-bottom:50px; font-family: 'MarkPro_medium'; }


.native_pos ul{ font-size:0px; }
.native_pos ul li{ max-width:134px; display:inline-block; margin-right:30px; font-size:13px; }
.native_pos ul li a{ display:block; }

.native_pos ul li a img{ display:block; }

.pointSale_main{ width:100%; background:#f7f8f8; }

.pointSale_inner{ width:100%; padding:60px 0px 20px 0px; }

.pointSale_heading{ font-size:24px; line-height:30px; color:#00643c; max-width:600px; margin:auto; text-align:center; padding-bottom:50px; font-family:'MarkPro_medium'; padding-top:20px; }

.nativeMian_image{ width:100%; padding-bottom:50px; }

.nativeMian_image span{ display:block; }

.nativeMian_image span img{ display:block; max-width:none; margin:auto; width:100%; }


.salePoint_listing{ width:100%; }

.salePoint_listing h3{ font-size:16px; line-height:24px; color:#006341;  padding-bottom:25px;  }

.salePoint_listing ul{ margin:0px -2%; font-size:0px;  }

.salePoint_listing ul li{ display:inline-block; padding:0px 0px 20px 0px; border-bottom:1px solid #e4e7ec; vertical-align:top; width:46%; margin:0px 2% 20px 2%; font-size:14px;  }

.salePoint_listing ul li:nth-last-child(2) , .salePoint_listing ul li:last-child {
    border-bottom:0px none;
}



.salePointText {
    position:relative;
    font-size:15px;
    line-height:25px;
    color:#617283;
    padding-left:60px; padding-top:5px;

}
.salePointText span {
    width:34px;
    height:34px;
    display:block;
    position:absolute;
    left:0px;
    top:0px
}
.salePointText span i {
    width:100%;
    height:100%;
    display:table
}
.salePointText span figure {
    display:table-cell;
    vertical-align:middle;
    width:100%;
    height:100%;
    text-align:center
}
.salePointText span img {
    display:block;
    max-width:34px;
    max-height:34px;
    margin:auto
}





/******card device******/


.modrenClean_contentOut {
    width: 100%;
    background: #eeeeee
}

.modrenClean_innr {
    width: 100%;
    padding: 60px 0px 30px 0px;
    position: relative
}


.modren_productsCont {
    width: 100%;
    position: relative
}

.modren_productsInn {
    width: 100%;
    padding-top: 45px;
    padding-bottom: 10px
}

.modren_productsInn ul li {
    float: left;
    width: 28%;
    margin-right: 22%;

    position: relative;
    min-height: 230px;
    padding-bottom: 30px
}

.modren_productsInn ul li:nth-child(even) {
    float: right;
    margin-right: 0px;
    margin-left: 22%
}

.modren_productsInn ul li em {
    display: block;
    width: 34px;
    height: auto;
    position: absolute;
    left: 0px;
    top: -5px
}

.modren_productsInn ul li strong {
    display: block; padding-left:55px; padding-bottom:15px;
    font-size: 15px;
    line-height: 1.5;
    color: #006341;
    font-family: 'MarkPro_medium'
}

.modren_productsInn ul li p {
    font-size: 15px;
    color: #666666; line-height:24px;
}

.modren_productsCenter_pic {
    width: 50%;
    position: absolute;
    left: 25%;
    top: 0px;
    padding: 20px 30px
}

.modren_productsCenter_pic span {
    display: block;
    max-width: 320px;
    margin: auto;
    padding-bottom: 20px
}

.modren_productsCenter_pic span img {
    max-width: none;
    width: 100%
}

#image-reel,
#image-reel .reel {
    margin: auto;
    margin-bottom: 20px
}

.modren_productsCenter_pic em {
    display: block;
    max-width: 70px;
    margin: auto;
    padding-bottom: 20px
}

.modren_productsCenter_pic em img {
    max-width: none;
    width: 100%;
    margin: auto
}



.businesPortl_listing .lmFeatures_manage_hdng h2{ padding-left:60px; padding-top:5px; color:#006341; }
.businesPortl_listing .lmFeatures_manage_hdng h2 span{ max-width:34px; max-height:34px; }
.businesPortl_listing .lmFeatures_manage_hdng h2 span img{ max-width:34px; max-height:34px; }
.businesPortl_listing ul li { border:0px none; }
.businesPortl_listing ul li p{font-size: 15px; line-height: 22px; color: #666666; padding-left: 60px;}

.businessPortal_main .pointSale_heading{ max-width:900px; }
.pointSale_main.businessPortal_main{ background:#006341; }

.businessPortal_main .mainHeading, .businessPortal_main .pointSale_heading, .businessPortal_main .businesPortl_listing ul li p{ color:#fff; }






.searchPopup_main{ width:100%; background:#f7f8f8; padding:30px 0px 40px 0px; position:absolute; left:0px; top:100%; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1); z-index:234; display:none; }

.searchPopup_inner{ max-width:720px; margin:auto; }

.srchBox_field{ width:100%; padding-bottom:15px; }

.srchBox_field input{ width:100%; padding:12px 0px; border-bottom:1px solid #dbdcdc; font-size:52px; line-height:60px; color:#009639; background:url(../images/searchPopup_icon.png) no-repeat right center; background-size:32px auto; font-family: 'MarkPro';  }


.srchBox_field ::-webkit-input-placeholder {
    color: #666666
}

.srchBox_field :-moz-placeholder {
    color: #666666;
    opacity: 1
}

.srchBox_field ::-moz-placeholder {
    color: #666666;
    opacity: 1
}

.srchBox_field :-ms-input-placeholder {
    color: #666666
}

.searchPopup_inner em{ display:block; font-size:16px; line-height:1.5em; color:#009639; padding-bottom:10px; font-family: 'MarkPro_italic'; }

.searchPopup_inner p{ display:block; font-size:16px; line-height:1.5em; color:#666666; }


.pad_bottom10{ padding-bottom:10px !important; }
.border0{ border:0px none !important; }


.pricingRates.pad_bottom10{ margin-bottom:0px; padding-top:10px;  }

.googlePlayBtns_parent ul li a{ max-width:136px; display:block; }

.googlePlayBtns_parent ul li a img{ display:block; }


.products_menuInner .ApplyNow_mainButton{ float:right; display:inline-block; width:auto; margin-top:-12px; }


.pointSale_main.proEstore_main{ background:#ffffff; }
.proEstore_main .benefits_integratedTitle h2{ color:#006341; }

.proEstore_main .nativeMian_image{ max-width:700px; margin:auto; }















.pricingChanges .pricingGettoday_right { float:none; width:100%;}

.pricingChanges .pricingGettoday_box  { width:100%; float:none;}

.pricingChanges .pricingGettoday_left  { float:none; width:100%; padding:20px 20px 30px 20px;min-height: 604px;}

.pricingChanges .pricingGettoday_left p.pricingBadge { text-align:left;}

.pricingChanges .pricingGettoday_right ul li {width:33.33%; padding:0px 10px; display:inline-block; vertical-align:top; position:relative;}
.pricingChanges .pricingGettoday_right ul { font-size:0px;}

.pricingGettoday_boxCont ul li { width:100% !important; display:block !important; padding-bottom:10px !important;}


.pricingChanges .pricingGettoday_hdr p { font-size:18px;}

.pricingChanges .pricingGettoday_box.active { transform: scale(1);}


.cardHead { background:#009639;}
.liteHead { background:#006341;}
.premiuimHead { background:#009639;}

.pricingChanges .pricingGettoday_hdr { padding:13px 10px;}

.pricingChanges  .pricingLb_device  h1 { width: 58%; vertical-align:middle; font-size:48px; text-align:left; padding-top:28px;}

.pricingChanges  .pricingLb_device  h1 small { display:block; font-size:20px; text-align:center;line-height: 30px;}

.pricingChanges  .pricingLb_device  span { display:inline-block; vertical-align:middle; position:absolute; right:0px; top:0px; width:60%;}

.pricingChanges  .pricingLb_device { position:relative; padding-bottom:40px;}
.pricingChanges .pricingGettoday_boxCont {min-height: 604px;}

.calculated_values  { width:100%; text-align:center; border-bottom:1px solid rgba(121,121,121,0.20); margin-bottom:25px; padding-top:20px;}

.calculated_values span { font-size: 14px; font-weight: bold; color: #009639; display:block; font-family: 'MarkPro_bold';}

.calculated_values span small {font-size: 12px; font-weight: normal;font-family: 'MarkPro';}

.calculated_values p {font-size: 14px;  color: #666666;}



.litePackege_setting  h2 { text-transform:uppercase;padding: 38px 0px;}

.pemium_setting  h2 { text-transform:uppercase;padding: 38px 0px 12px;}

.pemium_setting  h2 small { display:block; text-transform:lowercase;line-height: 25px;}

.litePackege_setting .pricingGettoday_priceBox_lstng { padding-top:25px;    padding-left: 10px;}

.pemium_setting .pricingGettoday_priceBox_lstng { padding-top:25px;    padding-left: 10px;}

.pemium_setting .pricingGettoday_priceBox_lstng strong { text-align:left; padding-bottom:10px;}



.pricingChanges .pricingGettoday_right ul li.orIcon:after { background:url(../images/plus_oval_shape@2x.png) no-repeat; width:154px; height:154px; background-size:154px;display:block; margin:auto; content:""; position:absolute; left: -73px ;top: 50%; z-index: 3; margin-top: -33px; }

.pricingChanges .pricingGettoday_right ul li.orIcon:before { background:url(../images/or_oval_shape@2x.png) no-repeat; width:154px; height:154px; background-size:154px;display:block; margin:auto; content:""; position:absolute; right: -83px ;top: 50%; z-index: 5; margin-top: -33px; }

/*
.pricingGettoday_box.activeColor .pricingGettoday_hdr{  }

.pricingGettoday_box.activeColor .pricingGettoday_left  {background:#006341; color:#fff !important}

.pricingGettoday_box.activeColor .pricingGettoday_boxCont{background:#006341; color:#fff !important}*/

.applyBttn{ width:100%; text-align:center; padding-top:60px;}

.applyBttn a{     color:#fff; font-weight:bold;font-family: 'MarkPro'; cursor:pointer; }





.products_menu.fixed {
    position: fixed;
    z-index: 22222;
}
.priceSection{
    max-width: 1203px;
}












