 

 @font-face {
    font-family: 'MarkPro';
    src: url('fonts/MarkPro.eot');
    src:url('fonts/MarkPro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
 @font-face {
    font-family: 'MarkPro_bold';
    src: url('fonts/MarkPro-Bold.eot');
    src:url('fonts/MarkPro-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
 @font-face {
    font-family: 'MarkPro_italic';
    src: url('fonts/MarkPro-Italic.eot');
    src:url('fonts/MarkPro-Italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
 @font-face {
    font-family: 'MarkPro_medium';
    src: url('fonts/MarkPro-Medium.eot');
    src:url('fonts/MarkPro-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}